{{#apiInfo.apis.0}}

{{#imports}}
import { {{classname}} } from '{{filename}}';
{{/imports}}

{{! Imports for the legacy search method signature }}
{{#operations}}{{#operation}}{{#vendorExtensions.x-legacy-signature}}{{> api/operation/legacySearchCompatible/imports}}{{/vendorExtensions.x-legacy-signature}}{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}

{{#vendorExtensions}}
{{#x-create-wrapping-object}}
/**
 * Properties for the `{{nickname}}` method.
 */
export type {{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Props = {
  {{#allParams}}
    {{#description}}
    /**
    * {{{description}}}
    */
    {{/description}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataType}}};
  {{/allParams}}
}
{{/x-create-wrapping-object}}

{{#x-legacy-signature}}{{> api/operation/legacySearchCompatible/model}}{{/x-legacy-signature}}

{{/vendorExtensions}}

{{/operation}}
{{/operations}}
{{/apiInfo.apis.0}}
