// eslint-disable-next-line import/no-commonjs,import/extensions
module.exports = require('./{{#isLiteClient}}../{{/isLiteClient}}dist/{{#isLiteClient}}lite/{{/isLiteClient}}{{packageName}}.cjs.js');
