{{#vendorExtensions}}
  {{#x-create-wrapping-object}}
    {
      {{#allParams}}
        {{paramName}},
      {{/allParams}}
    }: {{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Props{{^hasRequiredParams}} = {}{{/hasRequiredParams}},
  {{/x-create-wrapping-object}}
  {{#x-is-single-body-param}}
    {{#bodyParams}}
      {{paramName}}: {{{dataType}}} {{#x-legacy-signature}} | LegacySearchMethodProps{{/x-legacy-signature}},
    {{/bodyParams}}
  {{/x-is-single-body-param}}
{{/vendorExtensions}}
requestOptions{{^hasParams}}?{{/hasParams}}{{#hasParams}}{{#hasRequiredParams}}?{{/hasRequiredParams}}{{/hasParams}}: RequestOptions{{#hasParams}}{{^hasRequiredParams}} | undefined = undefined{{/hasRequiredParams}}{{/hasParams}}
