{{#vendorExtensions}}
  {{#x-create-wrapping-object}}
    {
      {{#allParams}}
        {{paramName}},
      {{/allParams}}
    }: {{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Props,
  {{/x-create-wrapping-object}}
  {{#x-is-single-body-param}}
    {{#bodyParams}}
      {{paramName}}: {{{dataType}}} {{#x-legacy-signature}} | LegacySearchMethodProps{{/x-legacy-signature}},
    {{/bodyParams}}
  {{/x-is-single-body-param}}
{{/vendorExtensions}}
requestOptions?: RequestOptions
