{
  "name": "javascript-tests",
  "version": "1.0.0",
  "scripts": {
    "test": "jest"
  },
  "dependencies": {
    {{#packageDependencies}}
    "{{{npmNamespace}}}/{{{packageName}}}": "{{packageVersion}}",
    {{/packageDependencies}}
    "{{{npmNamespace}}}/client-common": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-node-http": "{{utilsPackageVersion}}"
  },
  "devDependencies": {
    "@types/jest": "29.5.0",
    "@types/node": "18.15.11",
    "jest": "29.5.0",
    "ts-jest": "29.0.5",
    "ts-node": "10.9.1",
    "typescript": "5.0.3"
  }
}
