{
  "name": "javascript-tests",
  "version": "1.0.0",
  "scripts": {
    "test": "jest"
  },
  "dependencies": {
    {{#packageDependencies}}
    "{{{npmNamespace}}}/{{{packageName}}}": "{{packageVersion}}",
    {{/packageDependencies}}
    "{{{npmNamespace}}}/client-common": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-node-http": "{{utilsPackageVersion}}"
  },
  "devDependencies": {
    "@types/jest": "28.1.4",
    "@types/node": "16.11.43",
    "jest": "28.1.2",
    "ts-jest": "28.0.5",
    "ts-node": "10.8.2",
    "typescript": "4.7.4"
  }
}
