// Code generated by OpenAPI Generator (https://openapi-generator.tech), manual changes will be lost - read more on https://github.com/algolia/api-clients-automation. DO NOT EDIT.
package agentStudio

import (
	"context"
	"crypto/hmac"
	"crypto/sha256"
	"encoding/base64"
	"encoding/json"
	"fmt"
	"net/http"
	"net/url"
	"strings"
	"time"

	"github.com/algolia/algoliasearch-client-go/v4/algolia/transport"
	"github.com/algolia/algoliasearch-client-go/v4/algolia/utils"
)

type config struct {
	// -- Request options for API calls
	context      context.Context
	queryParams  url.Values
	headerParams map[string]string
	bodyParams   map[string]any
	timeouts     transport.RequestConfiguration

	// -- ForgeSecuredUserToken options
	expiresIn int
}

type RequestOption interface {
	apply(*config)
}

type requestOption func(*config)

func (r requestOption) apply(c *config) {
	r(c)
}

func WithContext(ctx context.Context) requestOption {
	return requestOption(func(c *config) {
		c.context = ctx
	})
}

func WithHeaderParam(key string, value any) requestOption {
	return requestOption(func(c *config) {
		if c.headerParams == nil {
			c.headerParams = make(map[string]string)
		}

		c.headerParams[key] = utils.ParameterToString(value)
	})
}

func WithQueryParam(key string, value any) requestOption {
	return requestOption(func(c *config) {
		if c.queryParams == nil {
			c.queryParams = make(url.Values)
		}

		c.queryParams.Set(utils.QueryParameterToString(key), utils.QueryParameterToString(value))
	})
}

func WithReadTimeout(timeout time.Duration) requestOption {
	return requestOption(func(c *config) {
		c.timeouts.ReadTimeout = &timeout
	})
}

func WithWriteTimeout(timeout time.Duration) requestOption {
	return requestOption(func(c *config) {
		c.timeouts.WriteTimeout = &timeout
	})
}

func WithConnectTimeout(timeout time.Duration) requestOption {
	return requestOption(func(c *config) {
		c.timeouts.ConnectTimeout = &timeout
	})
}

// WithBodyParam adds a single custom parameter to the request body.
// For write requests (POST, PUT, PATCH, DELETE), the param is merged into the body.
// For read requests (GET), the param is converted to a query parameter.
// Custom values override typed values when keys conflict.
func WithBodyParam(key string, value any) requestOption {
	return requestOption(func(c *config) {
		if c.bodyParams == nil {
			c.bodyParams = make(map[string]any)
		}

		c.bodyParams[key] = value
	})
}

// WithBodyParams adds multiple custom parameters to the request body.
// Parameters are deep-merged into the typed request body.
// For write requests, params are merged into the body.
// For read requests, params are converted to query parameters.
// Custom values override typed values when keys conflict.
func WithBodyParams(params map[string]any) requestOption {
	return requestOption(func(c *config) {
		if c.bodyParams == nil {
			c.bodyParams = make(map[string]any)
		}

		for k, v := range params {
			c.bodyParams[k] = v
		}
	})
}

// -- ForgeSecuredUserToken options.
func WithExpiresIn(expiresIn int) requestOption {
	return requestOption(func(c *config) {
		c.expiresIn = expiresIn
	})
}

func (r *ApiBulkCreateAllowedDomainsRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["allowedDomainBulkInsert"]; ok {
		err = json.Unmarshal(v, &r.allowedDomainBulkInsert)
		if err != nil {
			err = json.Unmarshal(b, &r.allowedDomainBulkInsert)
			if err != nil {
				return fmt.Errorf("cannot unmarshal allowedDomainBulkInsert: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.allowedDomainBulkInsert)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter allowedDomainBulkInsert: %w", err)
		}
	}

	return nil
}

// ApiBulkCreateAllowedDomainsRequest represents the request with all the parameters for the API call.
type ApiBulkCreateAllowedDomainsRequest struct {
	agentId                 string
	allowedDomainBulkInsert *AllowedDomainBulkInsert
}

// NewApiBulkCreateAllowedDomainsRequest creates an instance of the ApiBulkCreateAllowedDomainsRequest to be used for the API call.
func (c *APIClient) NewApiBulkCreateAllowedDomainsRequest(
	agentId string,
	allowedDomainBulkInsert *AllowedDomainBulkInsert,
) ApiBulkCreateAllowedDomainsRequest {
	return ApiBulkCreateAllowedDomainsRequest{
		agentId:                 agentId,
		allowedDomainBulkInsert: allowedDomainBulkInsert,
	}
}

/*
BulkCreateAllowedDomains calls the API and returns the raw response from it.

	  Add multiple allowed domain patterns. Duplicates are skipped.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiBulkCreateAllowedDomainsRequest with parameters below.
	  @param agentId string - The agentId.
	  @param allowedDomainBulkInsert AllowedDomainBulkInsert
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) BulkCreateAllowedDomainsWithHTTPInfo(
	r ApiBulkCreateAllowedDomainsRequest,
	opts ...RequestOption,
) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/allowed-domains/bulk"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `BulkCreateAllowedDomains`.")
	}

	if r.allowedDomainBulkInsert == nil {
		return nil, nil, reportError("Parameter `allowedDomainBulkInsert` is required when calling `BulkCreateAllowedDomains`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.allowedDomainBulkInsert

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
BulkCreateAllowedDomains casts the HTTP response body to a defined struct.

Add multiple allowed domain patterns. Duplicates are skipped.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiBulkCreateAllowedDomainsRequest with parameters below.

	@param agentId string - The agentId.
	@param allowedDomainBulkInsert AllowedDomainBulkInsert
	@return AllowedDomainListResponse
*/
func (c *APIClient) BulkCreateAllowedDomains(r ApiBulkCreateAllowedDomainsRequest, opts ...RequestOption) (*AllowedDomainListResponse, error) {
	var returnValue *AllowedDomainListResponse

	res, resBody, err := c.BulkCreateAllowedDomainsWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiBulkDeleteAllowedDomainsRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["allowedDomainBulkDelete"]; ok {
		err = json.Unmarshal(v, &r.allowedDomainBulkDelete)
		if err != nil {
			err = json.Unmarshal(b, &r.allowedDomainBulkDelete)
			if err != nil {
				return fmt.Errorf("cannot unmarshal allowedDomainBulkDelete: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.allowedDomainBulkDelete)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter allowedDomainBulkDelete: %w", err)
		}
	}

	return nil
}

// ApiBulkDeleteAllowedDomainsRequest represents the request with all the parameters for the API call.
type ApiBulkDeleteAllowedDomainsRequest struct {
	agentId                 string
	allowedDomainBulkDelete *AllowedDomainBulkDelete
}

// NewApiBulkDeleteAllowedDomainsRequest creates an instance of the ApiBulkDeleteAllowedDomainsRequest to be used for the API call.
func (c *APIClient) NewApiBulkDeleteAllowedDomainsRequest(
	agentId string,
	allowedDomainBulkDelete *AllowedDomainBulkDelete,
) ApiBulkDeleteAllowedDomainsRequest {
	return ApiBulkDeleteAllowedDomainsRequest{
		agentId:                 agentId,
		allowedDomainBulkDelete: allowedDomainBulkDelete,
	}
}

/*
BulkDeleteAllowedDomains calls the API and returns the raw response from it.

	  Delete allowed domains by id list.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiBulkDeleteAllowedDomainsRequest with parameters below.
	  @param agentId string - The agentId.
	  @param allowedDomainBulkDelete AllowedDomainBulkDelete
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) BulkDeleteAllowedDomainsWithHTTPInfo(
	r ApiBulkDeleteAllowedDomainsRequest,
	opts ...RequestOption,
) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/allowed-domains/bulk"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `BulkDeleteAllowedDomains`.")
	}

	if r.allowedDomainBulkDelete == nil {
		return nil, nil, reportError("Parameter `allowedDomainBulkDelete` is required when calling `BulkDeleteAllowedDomains`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.allowedDomainBulkDelete

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
BulkDeleteAllowedDomains casts the HTTP response body to a defined struct.

Delete allowed domains by id list.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiBulkDeleteAllowedDomainsRequest with parameters below.

	@param agentId string - The agentId.
	@param allowedDomainBulkDelete AllowedDomainBulkDelete
*/
func (c *APIClient) BulkDeleteAllowedDomains(r ApiBulkDeleteAllowedDomainsRequest, opts ...RequestOption) error {
	res, resBody, err := c.BulkDeleteAllowedDomainsWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiCreateAgentRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentConfigCreate"]; ok {
		err = json.Unmarshal(v, &r.agentConfigCreate)
		if err != nil {
			err = json.Unmarshal(b, &r.agentConfigCreate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentConfigCreate: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.agentConfigCreate)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter agentConfigCreate: %w", err)
		}
	}

	return nil
}

// ApiCreateAgentRequest represents the request with all the parameters for the API call.
type ApiCreateAgentRequest struct {
	agentConfigCreate *AgentConfigCreate
}

// NewApiCreateAgentRequest creates an instance of the ApiCreateAgentRequest to be used for the API call.
func (c *APIClient) NewApiCreateAgentRequest(agentConfigCreate *AgentConfigCreate) ApiCreateAgentRequest {
	return ApiCreateAgentRequest{
		agentConfigCreate: agentConfigCreate,
	}
}

/*
CreateAgent calls the API and returns the raw response from it.

	  Create a new agent.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiCreateAgentRequest with parameters below.
	  @param agentConfigCreate AgentConfigCreate
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateAgentWithHTTPInfo(r ApiCreateAgentRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents"

	if r.agentConfigCreate == nil {
		return nil, nil, reportError("Parameter `agentConfigCreate` is required when calling `CreateAgent`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.agentConfigCreate

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateAgent casts the HTTP response body to a defined struct.

Create a new agent.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiCreateAgentRequest with parameters below.

	@param agentConfigCreate AgentConfigCreate
	@return AgentWithVersionResponse
*/
func (c *APIClient) CreateAgent(r ApiCreateAgentRequest, opts ...RequestOption) (*AgentWithVersionResponse, error) {
	var returnValue *AgentWithVersionResponse

	res, resBody, err := c.CreateAgentWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCreateAgentAllowedDomainRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["allowedDomainCreate"]; ok {
		err = json.Unmarshal(v, &r.allowedDomainCreate)
		if err != nil {
			err = json.Unmarshal(b, &r.allowedDomainCreate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal allowedDomainCreate: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.allowedDomainCreate)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter allowedDomainCreate: %w", err)
		}
	}

	return nil
}

// ApiCreateAgentAllowedDomainRequest represents the request with all the parameters for the API call.
type ApiCreateAgentAllowedDomainRequest struct {
	agentId             string
	allowedDomainCreate *AllowedDomainCreate
}

// NewApiCreateAgentAllowedDomainRequest creates an instance of the ApiCreateAgentAllowedDomainRequest to be used for the API call.
func (c *APIClient) NewApiCreateAgentAllowedDomainRequest(
	agentId string,
	allowedDomainCreate *AllowedDomainCreate,
) ApiCreateAgentAllowedDomainRequest {
	return ApiCreateAgentAllowedDomainRequest{
		agentId:             agentId,
		allowedDomainCreate: allowedDomainCreate,
	}
}

/*
CreateAgentAllowedDomain calls the API and returns the raw response from it.

	  Add a single allowed domain pattern (e.g. https://app.example.com or *.example.com).

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiCreateAgentAllowedDomainRequest with parameters below.
	  @param agentId string - The agentId.
	  @param allowedDomainCreate AllowedDomainCreate
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateAgentAllowedDomainWithHTTPInfo(
	r ApiCreateAgentAllowedDomainRequest,
	opts ...RequestOption,
) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/allowed-domains"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `CreateAgentAllowedDomain`.")
	}

	if r.allowedDomainCreate == nil {
		return nil, nil, reportError("Parameter `allowedDomainCreate` is required when calling `CreateAgentAllowedDomain`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.allowedDomainCreate

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateAgentAllowedDomain casts the HTTP response body to a defined struct.

Add a single allowed domain pattern (e.g. https://app.example.com or *.example.com).

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiCreateAgentAllowedDomainRequest with parameters below.

	@param agentId string - The agentId.
	@param allowedDomainCreate AllowedDomainCreate
	@return AllowedDomainResponse
*/
func (c *APIClient) CreateAgentAllowedDomain(r ApiCreateAgentAllowedDomainRequest, opts ...RequestOption) (*AllowedDomainResponse, error) {
	var returnValue *AllowedDomainResponse

	res, resBody, err := c.CreateAgentAllowedDomainWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCreateAgentCompletionRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["compatibilityMode"]; ok {
		err = json.Unmarshal(v, &r.compatibilityMode)
		if err != nil {
			err = json.Unmarshal(b, &r.compatibilityMode)
			if err != nil {
				return fmt.Errorf("cannot unmarshal compatibilityMode: %w", err)
			}
		}
	}

	if v, ok := req["agentCompletionRequest"]; ok {
		err = json.Unmarshal(v, &r.agentCompletionRequest)
		if err != nil {
			err = json.Unmarshal(b, &r.agentCompletionRequest)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentCompletionRequest: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.agentCompletionRequest)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter agentCompletionRequest: %w", err)
		}
	}

	if v, ok := req["stream"]; ok {
		err = json.Unmarshal(v, &r.stream)
		if err != nil {
			err = json.Unmarshal(b, &r.stream)
			if err != nil {
				return fmt.Errorf("cannot unmarshal stream: %w", err)
			}
		}
	}

	if v, ok := req["cache"]; ok {
		err = json.Unmarshal(v, &r.cache)
		if err != nil {
			err = json.Unmarshal(b, &r.cache)
			if err != nil {
				return fmt.Errorf("cannot unmarshal cache: %w", err)
			}
		}
	}

	if v, ok := req["memory"]; ok {
		err = json.Unmarshal(v, &r.memory)
		if err != nil {
			err = json.Unmarshal(b, &r.memory)
			if err != nil {
				return fmt.Errorf("cannot unmarshal memory: %w", err)
			}
		}
	}

	if v, ok := req["analytics"]; ok {
		err = json.Unmarshal(v, &r.analytics)
		if err != nil {
			err = json.Unmarshal(b, &r.analytics)
			if err != nil {
				return fmt.Errorf("cannot unmarshal analytics: %w", err)
			}
		}
	}

	if v, ok := req["xAlgoliaSecureUserToken"]; ok {
		err = json.Unmarshal(v, &r.xAlgoliaSecureUserToken)
		if err != nil {
			err = json.Unmarshal(b, &r.xAlgoliaSecureUserToken)
			if err != nil {
				return fmt.Errorf("cannot unmarshal xAlgoliaSecureUserToken: %w", err)
			}
		}
	}

	return nil
}

// ApiCreateAgentCompletionRequest represents the request with all the parameters for the API call.
type ApiCreateAgentCompletionRequest struct {
	agentId                 string
	compatibilityMode       CompatibilityMode
	agentCompletionRequest  *AgentCompletionRequest
	stream                  *bool
	cache                   *bool
	memory                  *bool
	analytics               *bool
	xAlgoliaSecureUserToken *string
}

// NewApiCreateAgentCompletionRequest creates an instance of the ApiCreateAgentCompletionRequest to be used for the API call.
func (c *APIClient) NewApiCreateAgentCompletionRequest(
	agentId string,
	compatibilityMode CompatibilityMode,
	agentCompletionRequest *AgentCompletionRequest,
) ApiCreateAgentCompletionRequest {
	return ApiCreateAgentCompletionRequest{
		agentId:                agentId,
		compatibilityMode:      compatibilityMode,
		agentCompletionRequest: agentCompletionRequest,
	}
}

// WithStream adds the stream to the ApiCreateAgentCompletionRequest and returns the request for chaining.
func (r ApiCreateAgentCompletionRequest) WithStream(stream bool) ApiCreateAgentCompletionRequest {
	r.stream = &stream

	return r
}

// WithCache adds the cache to the ApiCreateAgentCompletionRequest and returns the request for chaining.
func (r ApiCreateAgentCompletionRequest) WithCache(cache bool) ApiCreateAgentCompletionRequest {
	r.cache = &cache

	return r
}

// WithMemory adds the memory to the ApiCreateAgentCompletionRequest and returns the request for chaining.
func (r ApiCreateAgentCompletionRequest) WithMemory(memory bool) ApiCreateAgentCompletionRequest {
	r.memory = &memory

	return r
}

// WithAnalytics adds the analytics to the ApiCreateAgentCompletionRequest and returns the request for chaining.
func (r ApiCreateAgentCompletionRequest) WithAnalytics(analytics bool) ApiCreateAgentCompletionRequest {
	r.analytics = &analytics

	return r
}

// WithXAlgoliaSecureUserToken adds the xAlgoliaSecureUserToken to the ApiCreateAgentCompletionRequest and returns the request for chaining.
func (r ApiCreateAgentCompletionRequest) WithXAlgoliaSecureUserToken(xAlgoliaSecureUserToken string) ApiCreateAgentCompletionRequest {
	r.xAlgoliaSecureUserToken = &xAlgoliaSecureUserToken

	return r
}

/*
CreateAgentCompletion calls the API and returns the raw response from it.

	Create a completion for the specified agent.

This endpoint handles two types of requests:
1. Normal completion request: User message -> Agent response
2. Tool approval response: User approval -> Execute tool -> Agent response

Tool Approval Flow (for MCP tools with requiresApproval: true):
- Request 1: User sends message -> Agent requests tool call -> Return approval request
- Request 2: User approves -> Execute tool -> Agent continues with result.

	    Required API Key ACLs:
	    - search

	Request can be constructed by NewApiCreateAgentCompletionRequest with parameters below.
	  @param agentId string - The agentId.
	  @param compatibilityMode CompatibilityMode - Compatibility mode for the completion API.
	  @param agentCompletionRequest AgentCompletionRequest
	  @param stream bool - Whether to stream the response or not.
	  @param cache bool - Use cached responses if available.
	  @param memory bool - Set to false to disable memory (enabled by default).


	  @param analytics bool - Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics, Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
	  @param xAlgoliaSecureUserToken string - The X-Algolia-Secure-User-Token.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateAgentCompletionWithHTTPInfo(r ApiCreateAgentCompletionRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/completions"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `CreateAgentCompletion`.")
	}

	if r.agentCompletionRequest == nil {
		return nil, nil, reportError("Parameter `agentCompletionRequest` is required when calling `CreateAgentCompletion`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	conf.queryParams.Set("compatibilityMode", utils.QueryParameterToString(r.compatibilityMode))

	if !utils.IsNilOrEmpty(r.stream) {
		conf.queryParams.Set("stream", utils.QueryParameterToString(*r.stream))
	}

	if !utils.IsNilOrEmpty(r.cache) {
		conf.queryParams.Set("cache", utils.QueryParameterToString(*r.cache))
	}

	if !utils.IsNilOrEmpty(r.memory) {
		conf.queryParams.Set("memory", utils.QueryParameterToString(*r.memory))
	}

	if !utils.IsNilOrEmpty(r.analytics) {
		conf.queryParams.Set("analytics", utils.QueryParameterToString(*r.analytics))
	}

	if !utils.IsNilOrEmpty(r.xAlgoliaSecureUserToken) {
		conf.headerParams["X-Algolia-Secure-User-Token"] = utils.ParameterToString(*r.xAlgoliaSecureUserToken)
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.agentCompletionRequest

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateAgentCompletion casts the HTTP response body to a defined struct.

Create a completion for the specified agent.

This endpoint handles two types of requests:
1. Normal completion request: User message -> Agent response
2. Tool approval response: User approval -> Execute tool -> Agent response

Tool Approval Flow (for MCP tools with requiresApproval: true):
- Request 1: User sends message -> Agent requests tool call -> Return approval request
- Request 2: User approves -> Execute tool -> Agent continues with result.

Required API Key ACLs:
  - search

Request can be constructed by NewApiCreateAgentCompletionRequest with parameters below.

	@param agentId string - The agentId.
	@param compatibilityMode CompatibilityMode - Compatibility mode for the completion API.
	@param agentCompletionRequest AgentCompletionRequest
	@param stream bool - Whether to stream the response or not.
	@param cache bool - Use cached responses if available.
	@param memory bool - Set to false to disable memory (enabled by default).


	@param analytics bool - Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics, Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
	@param xAlgoliaSecureUserToken string - The X-Algolia-Secure-User-Token.
	@return map[string]any
*/
func (c *APIClient) CreateAgentCompletion(r ApiCreateAgentCompletionRequest, opts ...RequestOption) (*map[string]any, error) {
	var returnValue *map[string]any

	res, resBody, err := c.CreateAgentCompletionWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCreateFeedbackRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["feedbackCreationRequest"]; ok {
		err = json.Unmarshal(v, &r.feedbackCreationRequest)
		if err != nil {
			err = json.Unmarshal(b, &r.feedbackCreationRequest)
			if err != nil {
				return fmt.Errorf("cannot unmarshal feedbackCreationRequest: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.feedbackCreationRequest)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter feedbackCreationRequest: %w", err)
		}
	}

	return nil
}

// ApiCreateFeedbackRequest represents the request with all the parameters for the API call.
type ApiCreateFeedbackRequest struct {
	feedbackCreationRequest *FeedbackCreationRequest
}

// NewApiCreateFeedbackRequest creates an instance of the ApiCreateFeedbackRequest to be used for the API call.
func (c *APIClient) NewApiCreateFeedbackRequest(feedbackCreationRequest *FeedbackCreationRequest) ApiCreateFeedbackRequest {
	return ApiCreateFeedbackRequest{
		feedbackCreationRequest: feedbackCreationRequest,
	}
}

/*
CreateFeedback calls the API and returns the raw response from it.

	  Create new feedback entry.

	    Required API Key ACLs:
	    - search

	Request can be constructed by NewApiCreateFeedbackRequest with parameters below.
	  @param feedbackCreationRequest FeedbackCreationRequest
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateFeedbackWithHTTPInfo(r ApiCreateFeedbackRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/feedback"

	if r.feedbackCreationRequest == nil {
		return nil, nil, reportError("Parameter `feedbackCreationRequest` is required when calling `CreateFeedback`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.feedbackCreationRequest

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateFeedback casts the HTTP response body to a defined struct.

Create new feedback entry.

Required API Key ACLs:
  - search

Request can be constructed by NewApiCreateFeedbackRequest with parameters below.

	@param feedbackCreationRequest FeedbackCreationRequest
	@return FeedbackResponse
*/
func (c *APIClient) CreateFeedback(r ApiCreateFeedbackRequest, opts ...RequestOption) (*FeedbackResponse, error) {
	var returnValue *FeedbackResponse

	res, resBody, err := c.CreateFeedbackWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCreateProviderRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["providerAuthenticationCreate"]; ok {
		err = json.Unmarshal(v, &r.providerAuthenticationCreate)
		if err != nil {
			err = json.Unmarshal(b, &r.providerAuthenticationCreate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal providerAuthenticationCreate: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.providerAuthenticationCreate)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter providerAuthenticationCreate: %w", err)
		}
	}

	return nil
}

// ApiCreateProviderRequest represents the request with all the parameters for the API call.
type ApiCreateProviderRequest struct {
	providerAuthenticationCreate *ProviderAuthenticationCreate
}

// NewApiCreateProviderRequest creates an instance of the ApiCreateProviderRequest to be used for the API call.
func (c *APIClient) NewApiCreateProviderRequest(providerAuthenticationCreate *ProviderAuthenticationCreate) ApiCreateProviderRequest {
	return ApiCreateProviderRequest{
		providerAuthenticationCreate: providerAuthenticationCreate,
	}
}

/*
CreateProvider calls the API and returns the raw response from it.

	  Create Provider.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiCreateProviderRequest with parameters below.
	  @param providerAuthenticationCreate ProviderAuthenticationCreate
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateProviderWithHTTPInfo(r ApiCreateProviderRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/providers"

	if r.providerAuthenticationCreate == nil {
		return nil, nil, reportError("Parameter `providerAuthenticationCreate` is required when calling `CreateProvider`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.providerAuthenticationCreate

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateProvider casts the HTTP response body to a defined struct.

Create Provider.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiCreateProviderRequest with parameters below.

	@param providerAuthenticationCreate ProviderAuthenticationCreate
	@return ProviderAuthenticationResponse
*/
func (c *APIClient) CreateProvider(r ApiCreateProviderRequest, opts ...RequestOption) (*ProviderAuthenticationResponse, error) {
	var returnValue *ProviderAuthenticationResponse

	res, resBody, err := c.CreateProviderWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCreateSecretKeyRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["secretKeyCreate"]; ok {
		err = json.Unmarshal(v, &r.secretKeyCreate)
		if err != nil {
			err = json.Unmarshal(b, &r.secretKeyCreate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal secretKeyCreate: %w", err)
			}
		}
	} else {
		err = json.Unmarshal(b, &r.secretKeyCreate)
		if err != nil {
			return fmt.Errorf("cannot unmarshal body parameter secretKeyCreate: %w", err)
		}
	}

	return nil
}

// ApiCreateSecretKeyRequest represents the request with all the parameters for the API call.
type ApiCreateSecretKeyRequest struct {
	secretKeyCreate *SecretKeyCreate
}

// NewApiCreateSecretKeyRequest creates an instance of the ApiCreateSecretKeyRequest to be used for the API call.
func (c *APIClient) NewApiCreateSecretKeyRequest(secretKeyCreate *SecretKeyCreate) ApiCreateSecretKeyRequest {
	return ApiCreateSecretKeyRequest{
		secretKeyCreate: secretKeyCreate,
	}
}

/*
CreateSecretKey calls the API and returns the raw response from it.

	  Create Secret Key.

	    Required API Key ACLs:
	    - admin

	Request can be constructed by NewApiCreateSecretKeyRequest with parameters below.
	  @param secretKeyCreate SecretKeyCreate
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CreateSecretKeyWithHTTPInfo(r ApiCreateSecretKeyRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/secret-keys"

	if r.secretKeyCreate == nil {
		return nil, nil, reportError("Parameter `secretKeyCreate` is required when calling `CreateSecretKey`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	postBody = r.secretKeyCreate

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CreateSecretKey casts the HTTP response body to a defined struct.

Create Secret Key.

Required API Key ACLs:
  - admin

Request can be constructed by NewApiCreateSecretKeyRequest with parameters below.

	@param secretKeyCreate SecretKeyCreate
	@return SecretKeyResponse
*/
func (c *APIClient) CreateSecretKey(r ApiCreateSecretKeyRequest, opts ...RequestOption) (*SecretKeyResponse, error) {
	var returnValue *SecretKeyResponse

	res, resBody, err := c.CreateSecretKeyWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCustomDeleteRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["path"]; ok {
		err = json.Unmarshal(v, &r.path)
		if err != nil {
			err = json.Unmarshal(b, &r.path)
			if err != nil {
				return fmt.Errorf("cannot unmarshal path: %w", err)
			}
		}
	}

	if v, ok := req["parameters"]; ok {
		err = json.Unmarshal(v, &r.parameters)
		if err != nil {
			err = json.Unmarshal(b, &r.parameters)
			if err != nil {
				return fmt.Errorf("cannot unmarshal parameters: %w", err)
			}
		}
	}

	return nil
}

// ApiCustomDeleteRequest represents the request with all the parameters for the API call.
type ApiCustomDeleteRequest struct {
	path       string
	parameters map[string]any
}

// NewApiCustomDeleteRequest creates an instance of the ApiCustomDeleteRequest to be used for the API call.
func (c *APIClient) NewApiCustomDeleteRequest(path string) ApiCustomDeleteRequest {
	return ApiCustomDeleteRequest{
		path: path,
	}
}

// WithParameters adds the parameters to the ApiCustomDeleteRequest and returns the request for chaining.
func (r ApiCustomDeleteRequest) WithParameters(parameters map[string]any) ApiCustomDeleteRequest {
	r.parameters = parameters

	return r
}

/*
CustomDelete calls the API and returns the raw response from it.

	  This method lets you send requests to the Algolia REST API.


	Request can be constructed by NewApiCustomDeleteRequest with parameters below.
	  @param path string - Path of the endpoint, for example `1/newFeature`.
	  @param parameters map[string]any - Query parameters to apply to the current query.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CustomDeleteWithHTTPInfo(r ApiCustomDeleteRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/{path}"
	requestPath = strings.ReplaceAll(requestPath, "{path}", utils.ParameterToString(r.path))

	if r.path == "" {
		return nil, nil, reportError("Parameter `path` is required when calling `CustomDelete`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.parameters) {
		for k, v := range r.parameters {
			conf.queryParams.Set(k, utils.QueryParameterToString(v))
		}
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CustomDelete casts the HTTP response body to a defined struct.

This method lets you send requests to the Algolia REST API.

Request can be constructed by NewApiCustomDeleteRequest with parameters below.

	@param path string - Path of the endpoint, for example `1/newFeature`.
	@param parameters map[string]any - Query parameters to apply to the current query.
	@return map[string]any
*/
func (c *APIClient) CustomDelete(r ApiCustomDeleteRequest, opts ...RequestOption) (*map[string]any, error) {
	var returnValue *map[string]any

	res, resBody, err := c.CustomDeleteWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCustomGetRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["path"]; ok {
		err = json.Unmarshal(v, &r.path)
		if err != nil {
			err = json.Unmarshal(b, &r.path)
			if err != nil {
				return fmt.Errorf("cannot unmarshal path: %w", err)
			}
		}
	}

	if v, ok := req["parameters"]; ok {
		err = json.Unmarshal(v, &r.parameters)
		if err != nil {
			err = json.Unmarshal(b, &r.parameters)
			if err != nil {
				return fmt.Errorf("cannot unmarshal parameters: %w", err)
			}
		}
	}

	return nil
}

// ApiCustomGetRequest represents the request with all the parameters for the API call.
type ApiCustomGetRequest struct {
	path       string
	parameters map[string]any
}

// NewApiCustomGetRequest creates an instance of the ApiCustomGetRequest to be used for the API call.
func (c *APIClient) NewApiCustomGetRequest(path string) ApiCustomGetRequest {
	return ApiCustomGetRequest{
		path: path,
	}
}

// WithParameters adds the parameters to the ApiCustomGetRequest and returns the request for chaining.
func (r ApiCustomGetRequest) WithParameters(parameters map[string]any) ApiCustomGetRequest {
	r.parameters = parameters

	return r
}

/*
CustomGet calls the API and returns the raw response from it.

	  This method lets you send requests to the Algolia REST API.


	Request can be constructed by NewApiCustomGetRequest with parameters below.
	  @param path string - Path of the endpoint, for example `1/newFeature`.
	  @param parameters map[string]any - Query parameters to apply to the current query.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CustomGetWithHTTPInfo(r ApiCustomGetRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/{path}"
	requestPath = strings.ReplaceAll(requestPath, "{path}", utils.ParameterToString(r.path))

	if r.path == "" {
		return nil, nil, reportError("Parameter `path` is required when calling `CustomGet`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.parameters) {
		for k, v := range r.parameters {
			conf.queryParams.Set(k, utils.QueryParameterToString(v))
		}
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CustomGet casts the HTTP response body to a defined struct.

This method lets you send requests to the Algolia REST API.

Request can be constructed by NewApiCustomGetRequest with parameters below.

	@param path string - Path of the endpoint, for example `1/newFeature`.
	@param parameters map[string]any - Query parameters to apply to the current query.
	@return map[string]any
*/
func (c *APIClient) CustomGet(r ApiCustomGetRequest, opts ...RequestOption) (*map[string]any, error) {
	var returnValue *map[string]any

	res, resBody, err := c.CustomGetWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCustomPostRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["path"]; ok {
		err = json.Unmarshal(v, &r.path)
		if err != nil {
			err = json.Unmarshal(b, &r.path)
			if err != nil {
				return fmt.Errorf("cannot unmarshal path: %w", err)
			}
		}
	}

	if v, ok := req["parameters"]; ok {
		err = json.Unmarshal(v, &r.parameters)
		if err != nil {
			err = json.Unmarshal(b, &r.parameters)
			if err != nil {
				return fmt.Errorf("cannot unmarshal parameters: %w", err)
			}
		}
	}

	if v, ok := req["body"]; ok {
		err = json.Unmarshal(v, &r.body)
		if err != nil {
			err = json.Unmarshal(b, &r.body)
			if err != nil {
				return fmt.Errorf("cannot unmarshal body: %w", err)
			}
		}
	}

	return nil
}

// ApiCustomPostRequest represents the request with all the parameters for the API call.
type ApiCustomPostRequest struct {
	path       string
	parameters map[string]any
	body       map[string]any
}

// NewApiCustomPostRequest creates an instance of the ApiCustomPostRequest to be used for the API call.
func (c *APIClient) NewApiCustomPostRequest(path string) ApiCustomPostRequest {
	return ApiCustomPostRequest{
		path: path,
	}
}

// WithParameters adds the parameters to the ApiCustomPostRequest and returns the request for chaining.
func (r ApiCustomPostRequest) WithParameters(parameters map[string]any) ApiCustomPostRequest {
	r.parameters = parameters

	return r
}

// WithBody adds the body to the ApiCustomPostRequest and returns the request for chaining.
func (r ApiCustomPostRequest) WithBody(body map[string]any) ApiCustomPostRequest {
	r.body = body

	return r
}

/*
CustomPost calls the API and returns the raw response from it.

	  This method lets you send requests to the Algolia REST API.


	Request can be constructed by NewApiCustomPostRequest with parameters below.
	  @param path string - Path of the endpoint, for example `1/newFeature`.
	  @param parameters map[string]any - Query parameters to apply to the current query.
	  @param body map[string]any - Parameters to send with the custom request.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CustomPostWithHTTPInfo(r ApiCustomPostRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/{path}"
	requestPath = strings.ReplaceAll(requestPath, "{path}", utils.ParameterToString(r.path))

	if r.path == "" {
		return nil, nil, reportError("Parameter `path` is required when calling `CustomPost`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.parameters) {
		for k, v := range r.parameters {
			conf.queryParams.Set(k, utils.QueryParameterToString(v))
		}
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	if utils.IsNilOrEmpty(r.body) {
		postBody = "{}"
	} else {
		postBody = r.body
	}

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPost, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CustomPost casts the HTTP response body to a defined struct.

This method lets you send requests to the Algolia REST API.

Request can be constructed by NewApiCustomPostRequest with parameters below.

	@param path string - Path of the endpoint, for example `1/newFeature`.
	@param parameters map[string]any - Query parameters to apply to the current query.
	@param body map[string]any - Parameters to send with the custom request.
	@return map[string]any
*/
func (c *APIClient) CustomPost(r ApiCustomPostRequest, opts ...RequestOption) (*map[string]any, error) {
	var returnValue *map[string]any

	res, resBody, err := c.CustomPostWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiCustomPutRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["path"]; ok {
		err = json.Unmarshal(v, &r.path)
		if err != nil {
			err = json.Unmarshal(b, &r.path)
			if err != nil {
				return fmt.Errorf("cannot unmarshal path: %w", err)
			}
		}
	}

	if v, ok := req["parameters"]; ok {
		err = json.Unmarshal(v, &r.parameters)
		if err != nil {
			err = json.Unmarshal(b, &r.parameters)
			if err != nil {
				return fmt.Errorf("cannot unmarshal parameters: %w", err)
			}
		}
	}

	if v, ok := req["body"]; ok {
		err = json.Unmarshal(v, &r.body)
		if err != nil {
			err = json.Unmarshal(b, &r.body)
			if err != nil {
				return fmt.Errorf("cannot unmarshal body: %w", err)
			}
		}
	}

	return nil
}

// ApiCustomPutRequest represents the request with all the parameters for the API call.
type ApiCustomPutRequest struct {
	path       string
	parameters map[string]any
	body       map[string]any
}

// NewApiCustomPutRequest creates an instance of the ApiCustomPutRequest to be used for the API call.
func (c *APIClient) NewApiCustomPutRequest(path string) ApiCustomPutRequest {
	return ApiCustomPutRequest{
		path: path,
	}
}

// WithParameters adds the parameters to the ApiCustomPutRequest and returns the request for chaining.
func (r ApiCustomPutRequest) WithParameters(parameters map[string]any) ApiCustomPutRequest {
	r.parameters = parameters

	return r
}

// WithBody adds the body to the ApiCustomPutRequest and returns the request for chaining.
func (r ApiCustomPutRequest) WithBody(body map[string]any) ApiCustomPutRequest {
	r.body = body

	return r
}

/*
CustomPut calls the API and returns the raw response from it.

	  This method lets you send requests to the Algolia REST API.


	Request can be constructed by NewApiCustomPutRequest with parameters below.
	  @param path string - Path of the endpoint, for example `1/newFeature`.
	  @param parameters map[string]any - Query parameters to apply to the current query.
	  @param body map[string]any - Parameters to send with the custom request.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) CustomPutWithHTTPInfo(r ApiCustomPutRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/{path}"
	requestPath = strings.ReplaceAll(requestPath, "{path}", utils.ParameterToString(r.path))

	if r.path == "" {
		return nil, nil, reportError("Parameter `path` is required when calling `CustomPut`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.parameters) {
		for k, v := range r.parameters {
			conf.queryParams.Set(k, utils.QueryParameterToString(v))
		}
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	// body params
	if utils.IsNilOrEmpty(r.body) {
		postBody = "{}"
	} else {
		postBody = r.body
	}

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodPut, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
CustomPut casts the HTTP response body to a defined struct.

This method lets you send requests to the Algolia REST API.

Request can be constructed by NewApiCustomPutRequest with parameters below.

	@param path string - Path of the endpoint, for example `1/newFeature`.
	@param parameters map[string]any - Query parameters to apply to the current query.
	@param body map[string]any - Parameters to send with the custom request.
	@return map[string]any
*/
func (c *APIClient) CustomPut(r ApiCustomPutRequest, opts ...RequestOption) (*map[string]any, error) {
	var returnValue *map[string]any

	res, resBody, err := c.CustomPutWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiDeleteAgentRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteAgentRequest represents the request with all the parameters for the API call.
type ApiDeleteAgentRequest struct {
	agentId string
}

// NewApiDeleteAgentRequest creates an instance of the ApiDeleteAgentRequest to be used for the API call.
func (c *APIClient) NewApiDeleteAgentRequest(agentId string) ApiDeleteAgentRequest {
	return ApiDeleteAgentRequest{
		agentId: agentId,
	}
}

/*
DeleteAgent calls the API and returns the raw response from it.

	  Delete the specified agent.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiDeleteAgentRequest with parameters below.
	  @param agentId string - The agentId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteAgentWithHTTPInfo(r ApiDeleteAgentRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `DeleteAgent`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteAgent casts the HTTP response body to a defined struct.

Delete the specified agent.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiDeleteAgentRequest with parameters below.

	@param agentId string - The agentId.
*/
func (c *APIClient) DeleteAgent(r ApiDeleteAgentRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteAgentWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteAgentConversationsRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["startDate"]; ok {
		err = json.Unmarshal(v, &r.startDate)
		if err != nil {
			err = json.Unmarshal(b, &r.startDate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal startDate: %w", err)
			}
		}
	}

	if v, ok := req["endDate"]; ok {
		err = json.Unmarshal(v, &r.endDate)
		if err != nil {
			err = json.Unmarshal(b, &r.endDate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal endDate: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteAgentConversationsRequest represents the request with all the parameters for the API call.
type ApiDeleteAgentConversationsRequest struct {
	agentId   string
	startDate *string
	endDate   *string
}

// NewApiDeleteAgentConversationsRequest creates an instance of the ApiDeleteAgentConversationsRequest to be used for the API call.
func (c *APIClient) NewApiDeleteAgentConversationsRequest(agentId string) ApiDeleteAgentConversationsRequest {
	return ApiDeleteAgentConversationsRequest{
		agentId: agentId,
	}
}

// WithStartDate adds the startDate to the ApiDeleteAgentConversationsRequest and returns the request for chaining.
func (r ApiDeleteAgentConversationsRequest) WithStartDate(startDate string) ApiDeleteAgentConversationsRequest {
	r.startDate = &startDate

	return r
}

// WithEndDate adds the endDate to the ApiDeleteAgentConversationsRequest and returns the request for chaining.
func (r ApiDeleteAgentConversationsRequest) WithEndDate(endDate string) ApiDeleteAgentConversationsRequest {
	r.endDate = &endDate

	return r
}

/*
DeleteAgentConversations calls the API and returns the raw response from it.

	  Deletes the conversations matching the given filers.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiDeleteAgentConversationsRequest with parameters below.
	  @param agentId string - The agentId.
	  @param startDate string - Filter conversations created after this date (format: YYYY-MM-DD).
	  @param endDate string - Filter conversations created before this date (format: YYYY-MM-DD).
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteAgentConversationsWithHTTPInfo(
	r ApiDeleteAgentConversationsRequest,
	opts ...RequestOption,
) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/conversations"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `DeleteAgentConversations`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.startDate) {
		conf.queryParams.Set("startDate", utils.QueryParameterToString(*r.startDate))
	}

	if !utils.IsNilOrEmpty(r.endDate) {
		conf.queryParams.Set("endDate", utils.QueryParameterToString(*r.endDate))
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteAgentConversations casts the HTTP response body to a defined struct.

Deletes the conversations matching the given filers.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiDeleteAgentConversationsRequest with parameters below.

	@param agentId string - The agentId.
	@param startDate string - Filter conversations created after this date (format: YYYY-MM-DD).
	@param endDate string - Filter conversations created before this date (format: YYYY-MM-DD).
*/
func (c *APIClient) DeleteAgentConversations(r ApiDeleteAgentConversationsRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteAgentConversationsWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteAllowedDomainRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["domainId"]; ok {
		err = json.Unmarshal(v, &r.domainId)
		if err != nil {
			err = json.Unmarshal(b, &r.domainId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal domainId: %w", err)
			}
		}
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteAllowedDomainRequest represents the request with all the parameters for the API call.
type ApiDeleteAllowedDomainRequest struct {
	domainId string
	agentId  string
}

// NewApiDeleteAllowedDomainRequest creates an instance of the ApiDeleteAllowedDomainRequest to be used for the API call.
func (c *APIClient) NewApiDeleteAllowedDomainRequest(domainId string, agentId string) ApiDeleteAllowedDomainRequest {
	return ApiDeleteAllowedDomainRequest{
		domainId: domainId,
		agentId:  agentId,
	}
}

/*
DeleteAllowedDomain calls the API and returns the raw response from it.

	  Remove an allowed domain by id.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiDeleteAllowedDomainRequest with parameters below.
	  @param domainId string - The domainId.
	  @param agentId string - The agentId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteAllowedDomainWithHTTPInfo(r ApiDeleteAllowedDomainRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/allowed-domains/{domainId}"
	requestPath = strings.ReplaceAll(requestPath, "{domainId}", url.PathEscape(utils.ParameterToString(r.domainId)))
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.domainId == "" {
		return nil, nil, reportError("Parameter `domainId` is required when calling `DeleteAllowedDomain`.")
	}

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `DeleteAllowedDomain`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteAllowedDomain casts the HTTP response body to a defined struct.

Remove an allowed domain by id.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiDeleteAllowedDomainRequest with parameters below.

	@param domainId string - The domainId.
	@param agentId string - The agentId.
*/
func (c *APIClient) DeleteAllowedDomain(r ApiDeleteAllowedDomainRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteAllowedDomainWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteConversationRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["conversationId"]; ok {
		err = json.Unmarshal(v, &r.conversationId)
		if err != nil {
			err = json.Unmarshal(b, &r.conversationId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal conversationId: %w", err)
			}
		}
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteConversationRequest represents the request with all the parameters for the API call.
type ApiDeleteConversationRequest struct {
	conversationId string
	agentId        string
}

// NewApiDeleteConversationRequest creates an instance of the ApiDeleteConversationRequest to be used for the API call.
func (c *APIClient) NewApiDeleteConversationRequest(conversationId string, agentId string) ApiDeleteConversationRequest {
	return ApiDeleteConversationRequest{
		conversationId: conversationId,
		agentId:        agentId,
	}
}

/*
DeleteConversation calls the API and returns the raw response from it.

	  Deletes the conversation with the given ID.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiDeleteConversationRequest with parameters below.
	  @param conversationId string - The conversationId.
	  @param agentId string - The agentId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteConversationWithHTTPInfo(r ApiDeleteConversationRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/conversations/{conversationId}"
	requestPath = strings.ReplaceAll(requestPath, "{conversationId}", url.PathEscape(utils.ParameterToString(r.conversationId)))
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.conversationId == "" {
		return nil, nil, reportError("Parameter `conversationId` is required when calling `DeleteConversation`.")
	}

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `DeleteConversation`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteConversation casts the HTTP response body to a defined struct.

Deletes the conversation with the given ID.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiDeleteConversationRequest with parameters below.

	@param conversationId string - The conversationId.
	@param agentId string - The agentId.
*/
func (c *APIClient) DeleteConversation(r ApiDeleteConversationRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteConversationWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteProviderRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["providerId"]; ok {
		err = json.Unmarshal(v, &r.providerId)
		if err != nil {
			err = json.Unmarshal(b, &r.providerId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal providerId: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteProviderRequest represents the request with all the parameters for the API call.
type ApiDeleteProviderRequest struct {
	providerId string
}

// NewApiDeleteProviderRequest creates an instance of the ApiDeleteProviderRequest to be used for the API call.
func (c *APIClient) NewApiDeleteProviderRequest(providerId string) ApiDeleteProviderRequest {
	return ApiDeleteProviderRequest{
		providerId: providerId,
	}
}

/*
DeleteProvider calls the API and returns the raw response from it.

	  Delete Provider.

	    Required API Key ACLs:
	    - editSettings

	Request can be constructed by NewApiDeleteProviderRequest with parameters below.
	  @param providerId string - The providerId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteProviderWithHTTPInfo(r ApiDeleteProviderRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/providers/{providerId}"
	requestPath = strings.ReplaceAll(requestPath, "{providerId}", url.PathEscape(utils.ParameterToString(r.providerId)))

	if r.providerId == "" {
		return nil, nil, reportError("Parameter `providerId` is required when calling `DeleteProvider`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteProvider casts the HTTP response body to a defined struct.

Delete Provider.

Required API Key ACLs:
  - editSettings

Request can be constructed by NewApiDeleteProviderRequest with parameters below.

	@param providerId string - The providerId.
*/
func (c *APIClient) DeleteProvider(r ApiDeleteProviderRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteProviderWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteSecretKeyRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["secretKeyId"]; ok {
		err = json.Unmarshal(v, &r.secretKeyId)
		if err != nil {
			err = json.Unmarshal(b, &r.secretKeyId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal secretKeyId: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteSecretKeyRequest represents the request with all the parameters for the API call.
type ApiDeleteSecretKeyRequest struct {
	secretKeyId string
}

// NewApiDeleteSecretKeyRequest creates an instance of the ApiDeleteSecretKeyRequest to be used for the API call.
func (c *APIClient) NewApiDeleteSecretKeyRequest(secretKeyId string) ApiDeleteSecretKeyRequest {
	return ApiDeleteSecretKeyRequest{
		secretKeyId: secretKeyId,
	}
}

/*
DeleteSecretKey calls the API and returns the raw response from it.

	  Delete Secret Key.

	    Required API Key ACLs:
	    - admin

	Request can be constructed by NewApiDeleteSecretKeyRequest with parameters below.
	  @param secretKeyId string - The secretKeyId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteSecretKeyWithHTTPInfo(r ApiDeleteSecretKeyRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/secret-keys/{secretKeyId}"
	requestPath = strings.ReplaceAll(requestPath, "{secretKeyId}", url.PathEscape(utils.ParameterToString(r.secretKeyId)))

	if r.secretKeyId == "" {
		return nil, nil, reportError("Parameter `secretKeyId` is required when calling `DeleteSecretKey`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteSecretKey casts the HTTP response body to a defined struct.

Delete Secret Key.

Required API Key ACLs:
  - admin

Request can be constructed by NewApiDeleteSecretKeyRequest with parameters below.

	@param secretKeyId string - The secretKeyId.
*/
func (c *APIClient) DeleteSecretKey(r ApiDeleteSecretKeyRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteSecretKeyWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiDeleteUserDataRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["userToken"]; ok {
		err = json.Unmarshal(v, &r.userToken)
		if err != nil {
			err = json.Unmarshal(b, &r.userToken)
			if err != nil {
				return fmt.Errorf("cannot unmarshal userToken: %w", err)
			}
		}
	}

	return nil
}

// ApiDeleteUserDataRequest represents the request with all the parameters for the API call.
type ApiDeleteUserDataRequest struct {
	userToken string
}

// NewApiDeleteUserDataRequest creates an instance of the ApiDeleteUserDataRequest to be used for the API call.
func (c *APIClient) NewApiDeleteUserDataRequest(userToken string) ApiDeleteUserDataRequest {
	return ApiDeleteUserDataRequest{
		userToken: userToken,
	}
}

/*
DeleteUserData calls the API and returns the raw response from it.

	  Permanently deletes all messages for the given user token. Does not delete conversations.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiDeleteUserDataRequest with parameters below.
	  @param userToken string - The userToken.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) DeleteUserDataWithHTTPInfo(r ApiDeleteUserDataRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/user-data/{userToken}"
	requestPath = strings.ReplaceAll(requestPath, "{userToken}", url.PathEscape(utils.ParameterToString(r.userToken)))

	if r.userToken == "" {
		return nil, nil, reportError("Parameter `userToken` is required when calling `DeleteUserData`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodDelete, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
DeleteUserData casts the HTTP response body to a defined struct.

Permanently deletes all messages for the given user token. Does not delete conversations.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiDeleteUserDataRequest with parameters below.

	@param userToken string - The userToken.
*/
func (c *APIClient) DeleteUserData(r ApiDeleteUserDataRequest, opts ...RequestOption) error {
	res, resBody, err := c.DeleteUserDataWithHTTPInfo(r, opts...)
	if err != nil {
		return err
	}

	if res == nil {
		return reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return c.decodeError(res, resBody)
	}

	return nil
}

func (r *ApiExportConversationsRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["startDate"]; ok {
		err = json.Unmarshal(v, &r.startDate)
		if err != nil {
			err = json.Unmarshal(b, &r.startDate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal startDate: %w", err)
			}
		}
	}

	if v, ok := req["endDate"]; ok {
		err = json.Unmarshal(v, &r.endDate)
		if err != nil {
			err = json.Unmarshal(b, &r.endDate)
			if err != nil {
				return fmt.Errorf("cannot unmarshal endDate: %w", err)
			}
		}
	}

	return nil
}

// ApiExportConversationsRequest represents the request with all the parameters for the API call.
type ApiExportConversationsRequest struct {
	agentId   string
	startDate *string
	endDate   *string
}

// NewApiExportConversationsRequest creates an instance of the ApiExportConversationsRequest to be used for the API call.
func (c *APIClient) NewApiExportConversationsRequest(agentId string) ApiExportConversationsRequest {
	return ApiExportConversationsRequest{
		agentId: agentId,
	}
}

// WithStartDate adds the startDate to the ApiExportConversationsRequest and returns the request for chaining.
func (r ApiExportConversationsRequest) WithStartDate(startDate string) ApiExportConversationsRequest {
	r.startDate = &startDate

	return r
}

// WithEndDate adds the endDate to the ApiExportConversationsRequest and returns the request for chaining.
func (r ApiExportConversationsRequest) WithEndDate(endDate string) ApiExportConversationsRequest {
	r.endDate = &endDate

	return r
}

/*
ExportConversations calls the API and returns the raw response from it.

	  Exports all conversations based on the passed filters.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiExportConversationsRequest with parameters below.
	  @param agentId string - The agentId.
	  @param startDate string - Filter conversations created after this date (format: YYYY-MM-DD).
	  @param endDate string - Filter conversations created before this date (format: YYYY-MM-DD).
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) ExportConversationsWithHTTPInfo(r ApiExportConversationsRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/conversations/export"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `ExportConversations`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.startDate) {
		conf.queryParams.Set("startDate", utils.QueryParameterToString(*r.startDate))
	}

	if !utils.IsNilOrEmpty(r.endDate) {
		conf.queryParams.Set("endDate", utils.QueryParameterToString(*r.endDate))
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
ExportConversations casts the HTTP response body to a defined struct.

Exports all conversations based on the passed filters.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiExportConversationsRequest with parameters below.

	@param agentId string - The agentId.
	@param startDate string - Filter conversations created after this date (format: YYYY-MM-DD).
	@param endDate string - Filter conversations created before this date (format: YYYY-MM-DD).
	@return []ConversationFullResponse
*/
func (c *APIClient) ExportConversations(r ApiExportConversationsRequest, opts ...RequestOption) ([]ConversationFullResponse, error) {
	var returnValue []ConversationFullResponse

	res, resBody, err := c.ExportConversationsWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiGetAgentRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	return nil
}

// ApiGetAgentRequest represents the request with all the parameters for the API call.
type ApiGetAgentRequest struct {
	agentId string
}

// NewApiGetAgentRequest creates an instance of the ApiGetAgentRequest to be used for the API call.
func (c *APIClient) NewApiGetAgentRequest(agentId string) ApiGetAgentRequest {
	return ApiGetAgentRequest{
		agentId: agentId,
	}
}

/*
GetAgent calls the API and returns the raw response from it.

	  Retrieve details of the specified agent.

	    Required API Key ACLs:
	    - settings

	Request can be constructed by NewApiGetAgentRequest with parameters below.
	  @param agentId string - The agentId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) GetAgentWithHTTPInfo(r ApiGetAgentRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}"
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `GetAgent`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
GetAgent casts the HTTP response body to a defined struct.

Retrieve details of the specified agent.

Required API Key ACLs:
  - settings

Request can be constructed by NewApiGetAgentRequest with parameters below.

	@param agentId string - The agentId.
	@return AgentWithVersionResponse
*/
func (c *APIClient) GetAgent(r ApiGetAgentRequest, opts ...RequestOption) (*AgentWithVersionResponse, error) {
	var returnValue *AgentWithVersionResponse

	res, resBody, err := c.GetAgentWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiGetAllowedDomainRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["domainId"]; ok {
		err = json.Unmarshal(v, &r.domainId)
		if err != nil {
			err = json.Unmarshal(b, &r.domainId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal domainId: %w", err)
			}
		}
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	return nil
}

// ApiGetAllowedDomainRequest represents the request with all the parameters for the API call.
type ApiGetAllowedDomainRequest struct {
	domainId string
	agentId  string
}

// NewApiGetAllowedDomainRequest creates an instance of the ApiGetAllowedDomainRequest to be used for the API call.
func (c *APIClient) NewApiGetAllowedDomainRequest(domainId string, agentId string) ApiGetAllowedDomainRequest {
	return ApiGetAllowedDomainRequest{
		domainId: domainId,
		agentId:  agentId,
	}
}

/*
GetAllowedDomain calls the API and returns the raw response from it.

	  Get a single allowed domain by id.

	    Required API Key ACLs:
	    - settings

	Request can be constructed by NewApiGetAllowedDomainRequest with parameters below.
	  @param domainId string - The domainId.
	  @param agentId string - The agentId.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) GetAllowedDomainWithHTTPInfo(r ApiGetAllowedDomainRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/allowed-domains/{domainId}"
	requestPath = strings.ReplaceAll(requestPath, "{domainId}", url.PathEscape(utils.ParameterToString(r.domainId)))
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.domainId == "" {
		return nil, nil, reportError("Parameter `domainId` is required when calling `GetAllowedDomain`.")
	}

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `GetAllowedDomain`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
GetAllowedDomain casts the HTTP response body to a defined struct.

Get a single allowed domain by id.

Required API Key ACLs:
  - settings

Request can be constructed by NewApiGetAllowedDomainRequest with parameters below.

	@param domainId string - The domainId.
	@param agentId string - The agentId.
	@return AllowedDomainResponse
*/
func (c *APIClient) GetAllowedDomain(r ApiGetAllowedDomainRequest, opts ...RequestOption) (*AllowedDomainResponse, error) {
	var returnValue *AllowedDomainResponse

	res, resBody, err := c.GetAllowedDomainWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

/*
GetAgentStudioConfiguration calls the API and returns the raw response from it.

	  Get Configuration.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiGetAgentStudioConfigurationRequest with parameters below.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) GetAgentStudioConfigurationWithHTTPInfo(opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/configuration"

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
GetAgentStudioConfiguration casts the HTTP response body to a defined struct.

Get Configuration.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiGetAgentStudioConfigurationRequest with parameters below.

	@return ApplicationConfigResponse
*/
func (c *APIClient) GetAgentStudioConfiguration(opts ...RequestOption) (*ApplicationConfigResponse, error) {
	var returnValue *ApplicationConfigResponse

	res, resBody, err := c.GetAgentStudioConfigurationWithHTTPInfo(opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiGetConversationRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["conversationId"]; ok {
		err = json.Unmarshal(v, &r.conversationId)
		if err != nil {
			err = json.Unmarshal(b, &r.conversationId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal conversationId: %w", err)
			}
		}
	}

	if v, ok := req["agentId"]; ok {
		err = json.Unmarshal(v, &r.agentId)
		if err != nil {
			err = json.Unmarshal(b, &r.agentId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal agentId: %w", err)
			}
		}
	}

	if v, ok := req["includeFeedback"]; ok {
		err = json.Unmarshal(v, &r.includeFeedback)
		if err != nil {
			err = json.Unmarshal(b, &r.includeFeedback)
			if err != nil {
				return fmt.Errorf("cannot unmarshal includeFeedback: %w", err)
			}
		}
	}

	if v, ok := req["xAlgoliaSecureUserToken"]; ok {
		err = json.Unmarshal(v, &r.xAlgoliaSecureUserToken)
		if err != nil {
			err = json.Unmarshal(b, &r.xAlgoliaSecureUserToken)
			if err != nil {
				return fmt.Errorf("cannot unmarshal xAlgoliaSecureUserToken: %w", err)
			}
		}
	}

	return nil
}

// ApiGetConversationRequest represents the request with all the parameters for the API call.
type ApiGetConversationRequest struct {
	conversationId          string
	agentId                 string
	includeFeedback         *bool
	xAlgoliaSecureUserToken *string
}

// NewApiGetConversationRequest creates an instance of the ApiGetConversationRequest to be used for the API call.
func (c *APIClient) NewApiGetConversationRequest(conversationId string, agentId string) ApiGetConversationRequest {
	return ApiGetConversationRequest{
		conversationId: conversationId,
		agentId:        agentId,
	}
}

// WithIncludeFeedback adds the includeFeedback to the ApiGetConversationRequest and returns the request for chaining.
func (r ApiGetConversationRequest) WithIncludeFeedback(includeFeedback bool) ApiGetConversationRequest {
	r.includeFeedback = &includeFeedback

	return r
}

// WithXAlgoliaSecureUserToken adds the xAlgoliaSecureUserToken to the ApiGetConversationRequest and returns the request for chaining.
func (r ApiGetConversationRequest) WithXAlgoliaSecureUserToken(xAlgoliaSecureUserToken string) ApiGetConversationRequest {
	r.xAlgoliaSecureUserToken = &xAlgoliaSecureUserToken

	return r
}

/*
GetConversation calls the API and returns the raw response from it.

	  Retrieves the conversation and its messages for the given ID.

	    Required API Key ACLs:
	    - logs

	Request can be constructed by NewApiGetConversationRequest with parameters below.
	  @param conversationId string - The conversationId.
	  @param agentId string - The agentId.
	  @param includeFeedback bool - Include feedback for the conversation.
	  @param xAlgoliaSecureUserToken string - The X-Algolia-Secure-User-Token.
	@param opts ...RequestOption - Optional parameters for the API call
	@return *http.Response - The raw response from the API
	@return []byte - The raw response body from the API
	@return error - An error if the API call fails
*/
func (c *APIClient) GetConversationWithHTTPInfo(r ApiGetConversationRequest, opts ...RequestOption) (*http.Response, []byte, error) {
	requestPath := "/agent-studio/1/agents/{agentId}/conversations/{conversationId}"
	requestPath = strings.ReplaceAll(requestPath, "{conversationId}", url.PathEscape(utils.ParameterToString(r.conversationId)))
	requestPath = strings.ReplaceAll(requestPath, "{agentId}", url.PathEscape(utils.ParameterToString(r.agentId)))

	if r.conversationId == "" {
		return nil, nil, reportError("Parameter `conversationId` is required when calling `GetConversation`.")
	}

	if r.agentId == "" {
		return nil, nil, reportError("Parameter `agentId` is required when calling `GetConversation`.")
	}

	conf := config{
		context:      context.Background(),
		queryParams:  url.Values{},
		headerParams: map[string]string{},
	}

	if !utils.IsNilOrEmpty(r.includeFeedback) {
		conf.queryParams.Set("includeFeedback", utils.QueryParameterToString(*r.includeFeedback))
	}

	if !utils.IsNilOrEmpty(r.xAlgoliaSecureUserToken) {
		conf.headerParams["X-Algolia-Secure-User-Token"] = utils.ParameterToString(*r.xAlgoliaSecureUserToken)
	}

	// optional params if any
	for _, opt := range opts {
		opt.apply(&conf)
	}

	var postBody any

	req, err := c.prepareRequest(conf.context, requestPath, http.MethodGet, postBody, conf.bodyParams, conf.headerParams, conf.queryParams)
	if err != nil {
		return nil, nil, err
	}

	return c.callAPI(req, false, conf.timeouts)
}

/*
GetConversation casts the HTTP response body to a defined struct.

Retrieves the conversation and its messages for the given ID.

Required API Key ACLs:
  - logs

Request can be constructed by NewApiGetConversationRequest with parameters below.

	@param conversationId string - The conversationId.
	@param agentId string - The agentId.
	@param includeFeedback bool - Include feedback for the conversation.
	@param xAlgoliaSecureUserToken string - The X-Algolia-Secure-User-Token.
	@return ConversationFullResponse
*/
func (c *APIClient) GetConversation(r ApiGetConversationRequest, opts ...RequestOption) (*ConversationFullResponse, error) {
	var returnValue *ConversationFullResponse

	res, resBody, err := c.GetConversationWithHTTPInfo(r, opts...)
	if err != nil {
		return returnValue, err
	}

	if res == nil {
		return returnValue, reportError("res is nil")
	}
	defer res.Body.Close()

	if res.StatusCode >= 300 {
		return returnValue, c.decodeError(res, resBody)
	}

	err = c.decode(&returnValue, resBody)
	if err != nil {
		return returnValue, reportError("cannot decode result: %w", err)
	}

	return returnValue, nil
}

func (r *ApiGetProviderRequest) UnmarshalJSON(b []byte) error {
	req := map[string]json.RawMessage{}

	err := json.Unmarshal(b, &req)
	if err != nil {
		return fmt.Errorf("cannot unmarshal request: %w", err)
	}

	if v, ok := req["providerId"]; ok {
		err = json.Unmarshal(v, &r.providerId)
		if err != nil {
			err = json.Unmarshal(b, &r.providerId)
			if err != nil {
				return fmt.Errorf("cannot unmarshal providerId: %w", err)
			}
		}
	}

	return nil
}

// ApiGetProviderRequest represents the request with all the parameters for the API call.
type ApiGetProviderRequest struct {
[...]
