{
  "version": "{{packageVersion}}",
  "repository": "{{gitUserId}}/{{gitRepoId}}",
  "license": "MIT",
  "author": "Algolia",
  "types": "./index.d.ts",
  {{^isAlgoliasearchClient}}
  "name": "{{{npmNamespace}}}/{{packageName}}",
  "description": "JavaScript client for {{packageName}}",
  "jsdelivr": "./dist/{{packageName}}.umd.js",
  "unpkg": "./dist/{{packageName}}.umd.js",
  "browser": "./dist/{{packageName}}.umd.js",
  "exports": {
    ".": {
      "node": {
        "import": "./dist/{{packageName}}.esm.node.js",
        "module": "./dist/{{packageName}}.esm.node.js",
        "require": "./dist/{{packageName}}.cjs.js",
        "default": "./dist/{{packageName}}.cjs.js"
      },
      "default": {
        "umd": "./dist/{{packageName}}.umd.js",
        "module": "./dist/{{packageName}}.esm.browser.js",
        "import": "./dist/{{packageName}}.esm.browser.js",
        "default": "./dist/{{packageName}}.umd.js"
      }
    },
    "./src/*": "./src/*.ts",
    "./model": "./model/index.ts"
  },
  "files": [
    "dist",
    "model",
    "index.js",
    "index.d.ts"
  ],
  "scripts": {
    "build": "yarn clean && rollup --config",
    "clean": "rm -rf ./dist || true"
  },
  "dependencies": {
    "{{{npmNamespace}}}/client-common": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-browser-xhr": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-node-http": "{{utilsPackageVersion}}"
  },
  "devDependencies": {
    "@types/node": "18.15.11",
    "rollup": "2.79.1",
    "typescript": "5.0.3"
  },
  {{/isAlgoliasearchClient}}
  {{#isAlgoliasearchClient}}
  "name": "{{packageName}}",
  "description": "A fully-featured and blazing-fast JavaScript API client to interact with Algolia API.",
  "jsdelivr": "./dist/algoliasearch.umd.js",
  "unpkg": "./dist/algoliasearch.umd.js",
  "browser": {
    "./index.js": "./dist/algoliasearch.umd.js",
    "./lite.js": "./dist/lite/lite.umd.js"
  },
  "exports": {
    ".": {
      "types": "./index.d.ts",
      "node": {
        "import": "./dist/algoliasearch.esm.node.js",
        "module": "./dist/algoliasearch.esm.node.js",
        "require": "./dist/algoliasearch.cjs.js",
        "default": "./dist/algoliasearch.cjs.js"
      },
      "default": {
        "umd": "./dist/algoliasearch.umd.js",
        "module": "./dist/algoliasearch.esm.browser.js",
        "import": "./dist/algoliasearch.esm.browser.js",
        "default": "./dist/algoliasearch.umd.js"
      }
    },
    "./lite": {
      "types": "./lite.d.ts",
      "node": {
        "import": "./dist/lite/lite.esm.node.js",
        "module": "./dist/lite/lite.esm.node.js",
        "require": "./dist/lite/lite.cjs.js",
        "default": "./dist/lite/lite.cjs.js"
      },
      "default": {
        "umd": "./dist/lite/lite.umd.js",
        "module": "./dist/lite/lite.esm.browser.js",
        "import": "./dist/lite/lite.esm.browser.js",
        "default": "./dist/lite/lite.umd.js"
      }
    }
  },
  "files": [
    "dist",
    "builds",
    "index.js",
    "index.d.ts",
    "lite",
    "lite.js",
    "lite.d.ts"
  ],
  "scripts": {
    "build": "yarn clean && rollup --config",
    "clean": "rm -rf ./dist || true",
    "test": "jest"
  },
  "dependencies": {
    "{{{npmNamespace}}}/client-analytics": "{{analyticsVersion}}",
    "{{{npmNamespace}}}/client-abtesting": "{{abtestingVersion}}",
    "{{{npmNamespace}}}/client-personalization": "{{personalizationVersion}}",
    "{{{npmNamespace}}}/client-search": "{{searchVersion}}",
    "{{{npmNamespace}}}/client-common": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-browser-xhr": "{{utilsPackageVersion}}",
    "{{{npmNamespace}}}/requester-node-http": "{{utilsPackageVersion}}"
  },
  "devDependencies": {
    "@types/jest": "29.5.0",
    "@types/node": "18.15.11",
    "jest": "29.5.0",
    "rollup": "2.79.1",
    "ts-jest": "29.1.0",
    "typescript": "5.0.3"
  },
  {{/isAlgoliasearchClient}}
  "engines": {
    "node": ">= 14.0.0"
  }
}
