package com.algolia.methods.requests;

import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertNull;
import static org.junit.jupiter.api.Assertions.assertTrue;
import static org.junit.jupiter.api.Assertions.assertDoesNotThrow;
import static org.junit.jupiter.api.Assertions.fail;

import java.util.*;

import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestInstance;
import org.junit.jupiter.api.BeforeAll;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.core.JsonProcessingException;

import com.algolia.utils.JSONBuilder;
import com.algolia.utils.ClientOptions;
import com.algolia.utils.RequestOptions;
import com.algolia.model.{{import}}.*;
import com.algolia.api.{{client}};
import org.skyscreamer.jsonassert.JSONAssert;
import org.skyscreamer.jsonassert.JSONCompareMode;

import com.algolia.utils.HttpRequester;
import com.algolia.EchoInterceptor;
import com.algolia.EchoResponse;

@TestInstance(TestInstance.Lifecycle.PER_CLASS)
class {{client}}RequestsTests {
    private {{client}} client;
    private EchoInterceptor echo;
    private ObjectMapper json;

    @BeforeAll
    void init() {
        json = new JSONBuilder().failOnUnknown(true).build();
        HttpRequester requester = new HttpRequester();
        echo = new EchoInterceptor();
        requester.addInterceptor(echo.getEchoInterceptor());
        client = new {{client}}("appId", "apiKey", {{#hasRegionalHost}}"{{defaultRegion}}", {{/hasRegionalHost}}new ClientOptions().setRequester(requester));
    }

    {{#blocksRequests}}
    {{#tests}}
    @Test
    @DisplayName("{{{testName}}}")
    void {{method}}Test{{testIndex}}() {
        {{#parametersWithDataType}}{{> generateParams}}{{/parametersWithDataType}}

        {{#hasRequestOptions}}
          RequestOptions requestOptions = new RequestOptions();
          {{#requestOptions.queryParameters.parametersWithDataType}}
            requestOptions.addExtraQueryParameters("{{{key}}}", {{> requests/requestOptionsParams}});
          {{/requestOptions.queryParameters.parametersWithDataType}}
          {{#requestOptions.headers.parametersWithDataType}}
            requestOptions.addExtraHeader("{{{key}}}", "{{{value}}}");
          {{/requestOptions.headers.parametersWithDataType}}
        {{/hasRequestOptions}}

        assertDoesNotThrow(() -> {
            client.{{method}}({{#parametersWithDataType}}{{> maybeConvertOneOf}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#isGeneric}}, Object.class{{/isGeneric}}{{#hasRequestOptions}}, requestOptions{{/hasRequestOptions}});
        });
        EchoResponse req = echo.getLastResponse();

        assertEquals(req.path, "{{{request.path}}}");
        assertEquals(req.method, "{{{request.method}}}");
        {{#request.body}}
        assertDoesNotThrow(() -> {
            JSONAssert.assertEquals("{{#lambda.escapeQuotes}}{{{request.body}}}{{/lambda.escapeQuotes}}", req.body, JSONCompareMode.STRICT);
        });
        {{/request.body}}
        {{^request.body}}
          {{#assertNullBody}}
            assertNull(req.body);
          {{/assertNullBody}}
          {{^assertNullBody}}
            assertEquals(req.body, "");
          {{/assertNullBody}}
        {{/request.body}}

        {{#request.queryParameters}}
        try {
          Map<String, String> expectedQuery = json.readValue("{{#lambda.escapeQuotes}}{{{request.queryParameters}}}{{/lambda.escapeQuotes}}", new TypeReference<HashMap<String, String>>() {});
          Map<String, Object> actualQuery = req.queryParameters;

          assertEquals(expectedQuery.size(), actualQuery.size());
          for (Map.Entry<String, Object> p : actualQuery.entrySet()) {
            assertEquals(expectedQuery.get(p.getKey()), p.getValue());
          }
        } catch(JsonProcessingException e) {
          fail("failed to parse queryParameters json");
        }
        {{/request.queryParameters}}

        {{#request.headers}}
        try {
          Map<String, String> expectedHeaders = json.readValue("{{#lambda.escapeQuotes}}{{{request.headers}}}{{/lambda.escapeQuotes}}", new TypeReference<HashMap<String, String>>() {});
          Map<String, String> actualHeaders = req.headers;

          for (Map.Entry<String, String> p : expectedHeaders.entrySet()) {
            assertEquals(actualHeaders.get(p.getKey()), p.getValue());
          }
        } catch(JsonProcessingException e) {
          fail("failed to parse headers json");
        }
        {{/request.headers}}
    }
    {{/tests}}
    {{/blocksRequests}}
}
