/**
 * Helper: Wait for a task to be published (completed) for a given `indexName` and `taskID`.
 *
 * @summary Helper method that waits for a task to be published (completed).
 * @param waitForTaskOptions - The waitForTaskOptions object.
 * @param waitForTaskOptions.indexName - The `indexName` where the operation was performed.
 * @param waitForTaskOptions.taskID - The `taskID` returned in the method response.
 * @param waitForTaskOptions.maxRetries - The maximum number of retries. 50 by default.
 * @param waitForTaskOptions.timeout - The function to decide how long to wait between retries.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `getTask` method and merged with the transporter requestOptions.
 */
waitForTask(
  {
    indexName,
    taskID,
    maxRetries = 50,
    timeout = (retryCount: number): number =>
      Math.min(retryCount * 200, 5000),
  }: WaitForTaskOptions,
  requestOptions?: RequestOptions
): Promise<GetTaskResponse> {
  let retryCount = 0;

  return createIterablePromise({
    func: () => this.getTask({ indexName, taskID }, requestOptions),
    validate: (response) => response.status === 'published',
    aggregator: () => (retryCount += 1),
    error: {
      validate: () => retryCount >= maxRetries,
      message: () =>
        `The maximum number of retries exceeded. (${retryCount}/${maxRetries})`,
    },
    timeout: () => timeout(retryCount),
  });
},

/**
 * Helper: Wait for an API key to be added, updated or deleted based on a given `operation`.
 *
 * @summary Helper method that waits for an API key task to be processed.
 * @param waitForApiKeyOptions - The waitForApiKeyOptions object.
 * @param waitForApiKeyOptions.operation - The `operation` that was done on a `key`.
 * @param waitForApiKeyOptions.key - The `key` that has been added, deleted or updated.
 * @param waitForApiKeyOptions.apiKey - Necessary to know if an `update` operation has been processed, compare fields of the response with it.
 * @param waitForApiKeyOptions.maxRetries - The maximum number of retries. 50 by default.
 * @param waitForApiKeyOptions.timeout - The function to decide how long to wait between retries.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `getApikey` method and merged with the transporter requestOptions.
 */
waitForApiKey(
  {
    operation,
    key,
    apiKey,
    maxRetries = 50,
    timeout = (retryCount: number): number =>
      Math.min(retryCount * 200, 5000),
  }: WaitForApiKeyOptions,
  requestOptions?: RequestOptions
): Promise<ApiError | GetApiKeyResponse> {
  let retryCount = 0;
  const baseIteratorOptions: IterableOptions<ApiError | GetApiKeyResponse> = {
    aggregator: () => (retryCount += 1),
    error: {
      validate: () => retryCount >= maxRetries,
      message: () =>
        `The maximum number of retries exceeded. (${retryCount}/${maxRetries})`,
    },
    timeout: () => timeout(retryCount),
  };

  if (operation === 'update') {
    if (!apiKey) {
      throw new Error(
        '`apiKey` is required when waiting for an `update` operation.'
      );
    }

    return createIterablePromise({
      ...baseIteratorOptions,
      func: () => this.getApiKey({ key }, requestOptions),
      validate: (response) => {
        for (const field of Object.keys(apiKey)) {
          const value = apiKey[field as keyof ApiKey];
          const resValue = response[field as keyof ApiKey];
          if (Array.isArray(value) && Array.isArray(resValue)) {
            if (
              value.length !== resValue.length ||
              value.some((v, index) => v !== resValue[index])
            ) {
              return false;
            }
          } else if (value !== resValue) {
            return false;
          }
        }
        return true;
      },
    });
  }

  return createIterablePromise({
    ...baseIteratorOptions,
    func: () =>
      this.getApiKey({ key }, requestOptions).catch((error) => error),
    validate: (error: ApiError) =>
      operation === 'add' ? error.status !== 404 : error.status === 404,
  });
},

/**
 * Helper: Iterate on the `browse` method of the client to allow aggregating objects of an index.
 *
 * @summary Helper method that iterates on the `browse` method.
 * @param browseObjects - The browseObjects object.
 * @param browseObjects.indexName - The index in which to perform the request.
 * @param browseObjects.browseParams - The `browse` parameters.
 * @param browseObjects.validate - The validator function. It receive the resolved return of the API call. By default, stops when there is no `cursor` in the response.
 * @param browseObjects.aggregator - The function that runs right after the API call has been resolved, allows you to do anything with the response before `validate`.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `browse` method and merged with the transporter requestOptions.
 */
browseObjects<T>(
  {
    indexName,
    browseParams,
    ...browseObjectsOptions
  }: BrowseOptions<BrowseResponse<T>> & BrowseProps,
  requestOptions?: RequestOptions
): Promise<BrowseResponse<T>> {
  return createIterablePromise<BrowseResponse<T>>({
    func: (previousResponse) => {
      return this.browse(
        {
          indexName,
          browseParams: {
            cursor: previousResponse ? previousResponse.cursor : undefined,
            ...browseParams,
          },
        },
        requestOptions
      );
    },
    validate: (response) => response.cursor === undefined,
    ...browseObjectsOptions,
  });
},

/**
 * Helper: Iterate on the `searchRules` method of the client to allow aggregating rules of an index.
 *
 * @summary Helper method that iterates on the `searchRules` method.
 * @param browseObjects - The browseObjects object.
 * @param browseObjects.indexName - The index in which to perform the request.
 * @param browseObjects.searchRulesParams - The `searchRules` method parameters.
 * @param browseObjects.validate - The validator function. It receive the resolved return of the API call. By default, stops when there is less hits returned than the number of maximum hits (1000).
 * @param browseObjects.aggregator - The function that runs right after the API call has been resolved, allows you to do anything with the response before `validate`.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `searchRules` method and merged with the transporter requestOptions.
 */
browseRules(
  {
    indexName,
    searchRulesParams,
    ...browseRulesOptions
  }: BrowseOptions<SearchRulesResponse> & SearchRulesProps,
  requestOptions?: RequestOptions
): Promise<SearchRulesResponse> {
  const params = {
    hitsPerPage: 1000,
    ...searchRulesParams,
  };

  return createIterablePromise<SearchRulesResponse>({
    func: (previousResponse) => {
      return this.searchRules(
        {
          indexName,
          searchRulesParams: {
            ...params,
            page: previousResponse
              ? previousResponse.page + 1
              : params.page || 0,
          },
        },
        requestOptions
      );
    },
    validate: (response) => response.nbHits < params.hitsPerPage,
    ...browseRulesOptions,
  });
},

/**
 * Helper: Iterate on the `searchSynonyms` method of the client to allow aggregating rules of an index.
 *
 * @summary Helper method that iterates on the `searchSynonyms` method.
 * @param browseObjects - The browseObjects object.
 * @param browseObjects.indexName - The index in which to perform the request.
 * @param browseObjects.validate - The validator function. It receive the resolved return of the API call. By default, stops when there is less hits returned than the number of maximum hits (1000).
 * @param browseObjects.aggregator - The function that runs right after the API call has been resolved, allows you to do anything with the response before `validate`.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `searchSynonyms` method and merged with the transporter requestOptions.
 */
browseSynonyms(
  {
    indexName,
    validate,
    aggregator,
    ...browseSynonymsOptions
  }: BrowseOptions<SearchSynonymsResponse> & SearchSynonymsProps,
  requestOptions?: RequestOptions
): Promise<SearchSynonymsResponse> {
  const params = {
    hitsPerPage: 1000,
    ...browseSynonymsOptions,
  };

  return createIterablePromise<SearchSynonymsResponse>({
    func: (previousResponse) => {
      return this.searchSynonyms(
        {
          ...params,
          indexName,
          page: previousResponse
            ? previousResponse.page + 1
            : browseSynonymsOptions.page || 0,
        },
        requestOptions
      );
    },
    validate: (response) => response.nbHits < params.hitsPerPage,
    ...browseSynonymsOptions,
  });
},
