{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ $dep.Name }}{{"\t"}}{{ $dep.LicenceType }}
{{- end }}
{{- end -}}
package{{"\t"}}licence
{{- template "depInfo" .Direct -}}
{{ if .Indirect }}{{ template "depInfo" .Indirect }}{{ end }}