import { {{client}} } from '{{{import}}}';
import { echoRequester } from '{{{npmNamespace}}}/requester-node-http';
import type { EchoResponse } from '{{{npmNamespace}}}/client-common';
import type { RequestOptions } from '{{{npmNamespace}}}/client-common';

const appId = process.env.ALGOLIA_APPLICATION_ID || 'test_app_id';
const apiKey = process.env.ALGOLIA_SEARCH_KEY || 'test_api_key';

const client = {{client}}(appId, apiKey, {{#hasRegionalHost}}'{{{defaultRegion}}}', {{/hasRegionalHost}}{ requester: echoRequester() });

{{#blocksRequests}}
describe('{{operationId}}', () => {
  {{#tests}}
  test('{{testName}}', async () => {
    {{#hasRequestOptions}}const requestOptions: RequestOptions = {
      {{#requestOptions.queryParameters.parameters}}queryParameters: {{{.}}},{{/requestOptions.queryParameters.parameters}}
      {{#requestOptions.headers.parameters}}headers: {{{.}}}{{/requestOptions.headers.parameters}}
    };{{/hasRequestOptions}}

    const req = (await client.{{method}}({{#hasParameters}}{{{parameters}}}{{/hasParameters}}{{#hasRequestOptions}}, requestOptions{{/hasRequestOptions}})) as unknown as EchoResponse;

    expect(req.path).toEqual('{{{request.path}}}');
    expect(req.method).toEqual('{{{request.method}}}');
    expect(req.data).toEqual({{#request.body}}{{{.}}}{{/request.body}}{{^request.body}}undefined{{/request.body}});
    expect(req.searchParams).toStrictEqual({{#request.queryParameters}}{{{.}}}{{/request.queryParameters}}{{^request.queryParameters}}undefined{{/request.queryParameters}});
    {{#request.headers}}
    expect(req.headers).toEqual(
      expect.objectContaining({{{request.headers}}})
    );
    {{/request.headers}}
  });

  {{/tests}}
})

{{/blocksRequests}}
