// {{{generationBanner}}}

package {{package}};

import {{invokerPackage}}.ApiClient;

import com.fasterxml.jackson.core.type.TypeReference;

import okhttp3.Call;
import okhttp3.Request;

import {{invokerPackage}}.utils.*;
import {{modelPackage}}.*;
import {{invokerPackage}}.exceptions.*;
import {{invokerPackage}}.utils.retry.CallType;
import {{invokerPackage}}.utils.retry.StatefulHost;
import java.util.function.IntUnaryOperator;

import java.util.EnumSet;
import java.util.Random;
import java.util.Collections;
{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}
import java.util.stream.Collectors;
import java.util.stream.Stream;
import java.util.concurrent.CompletableFuture;
{{#operations}}
public class {{classname}} extends ApiClient {
    {{#hasRegionalHost}}
    private static final String[] allowedRegions = { {{#allowedRegions}}"{{.}}"{{^-last}},{{/-last}}{{/allowedRegions}} };

    {{#fallbackToAliasHost}}
    public {{classname}}(String appId, String apiKey) {
        this(appId, apiKey, null, null);
    }

    public {{classname}}(String appId, String apiKey, ClientOptions options) {
        this(appId, apiKey, null, options);
    }
    {{/fallbackToAliasHost}}
    public {{classname}}(String appId, String apiKey, String region) {
        this(appId, apiKey, region, null);
    }

    public {{classname}}(String appId, String apiKey, String region, ClientOptions options) {
      super(appId, apiKey, "{{{baseName}}}", "{{{packageVersion}}}", options);
      if (options != null && options.getHosts() != null) {
        this.setHosts(options.getHosts());
      } else {
        this.setHosts(getDefaultHosts(region));
      }
      this.setConnectTimeout(2000);
      this.setReadTimeout(5000);
      this.setWriteTimeout(30000);
    }
    
    {{/hasRegionalHost}}
    {{^hasRegionalHost}}
    public {{classname}}(String appId, String apiKey) {
        this(appId, apiKey, null);
    }

    public {{classname}}(String appId, String apiKey, ClientOptions options) {
      super(appId, apiKey, "{{{baseName}}}", "{{{packageVersion}}}", options);
      if (options != null && options.getHosts() != null) {
        this.setHosts(options.getHosts());
      } else {
        this.setHosts(getDefaultHosts(appId));
      }
      this.setConnectTimeout(2000);
      this.setReadTimeout(5000);
      this.setWriteTimeout(30000);
    }
    {{/hasRegionalHost}}

    {{^hasRegionalHost}}
    private static List<StatefulHost> getDefaultHosts(String appId) {
      List<StatefulHost> hosts = new ArrayList<StatefulHost>();
      hosts.add(new StatefulHost(appId + "-dsn.algolia.net", "https", EnumSet.of(CallType.READ)));
      hosts.add(new StatefulHost(appId + ".algolia.net", "https", EnumSet.of(CallType.WRITE)));

      List<StatefulHost> commonHosts = new ArrayList<StatefulHost>();
      hosts.add(new StatefulHost(appId + "-1.algolianet.net", "https", EnumSet.of(CallType.READ, CallType.WRITE)));
      hosts.add(new StatefulHost(appId + "-2.algolianet.net", "https", EnumSet.of(CallType.READ, CallType.WRITE)));
      hosts.add(new StatefulHost(appId + "-3.algolianet.net", "https", EnumSet.of(CallType.READ, CallType.WRITE)));

      Collections.shuffle(commonHosts, new Random());

      return Stream.concat(hosts.stream(), commonHosts.stream()).collect(Collectors.toList());
    }
    {{/hasRegionalHost}}

    {{#hasRegionalHost}}
    private static List<StatefulHost> getDefaultHosts(String region) throws AlgoliaRuntimeException {
      List<StatefulHost> hosts = new ArrayList<StatefulHost>();

      boolean found = {{^fallbackToAliasHost}}false{{/fallbackToAliasHost}}{{#fallbackToAliasHost}}region == null{{/fallbackToAliasHost}};
      if (region != null) {
        for (String allowed : allowedRegions) {
          if (allowed.equals(region)) {
            found = true;
            break;
          }
        }
      }

      if ({{^fallbackToAliasHost}}region == null || {{/fallbackToAliasHost}}!found){
        throw new AlgoliaRuntimeException("`region` {{^fallbackToAliasHost}}is required and {{/fallbackToAliasHost}}must be one of the following: {{#allowedRegions}}{{.}}{{^-last}}, {{/-last}}{{/allowedRegions}}");
      }

      String url = {{#fallbackToAliasHost}}region == null ? "{{{hostWithFallback}}}" : {{/fallbackToAliasHost}} "{{{regionalHost}}}".replace("{region}", region);

      hosts.add(new StatefulHost(url, "https", EnumSet.of(CallType.READ, CallType.WRITE)));
      return hosts;
    }
    {{/hasRegionalHost}}

    {{#operation}}
    /**
     * {{{notes}}}{{#allParams}}
     * @param {{paramName}} {{{description}}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}{{/allParams}}{{#vendorExtensions.x-is-generic}}
     * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
     * @param requestOptions The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
     * @return {{> return_type}}
    {{> api_javadoc}}
    public {{> return_type}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}, {{/allParams}}{{#vendorExtensions.x-is-generic}}Class<T> innerType, {{/vendorExtensions.x-is-generic}}RequestOptions requestOptions) throws AlgoliaRuntimeException {
        return LaunderThrowable.await({{operationId}}Async({{#allParams}}{{paramName}}, {{/allParams}}{{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}requestOptions));
    }

  {{! This case only sets `requestOptions` as optional }}
  /**
    * {{{notes}}}{{#allParams}}
    * @param {{paramName}} {{{description}}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}{{/allParams}}{{#vendorExtensions.x-is-generic}}
    * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
    * @return {{> return_type}}
    {{> api_javadoc}}
  public {{> return_type}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#vendorExtensions.x-is-generic}}, Class<T> innerType{{/vendorExtensions.x-is-generic}}) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}({{#allParams}}{{paramName}}, {{/allParams}}{{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}null);
  }

  {{! This case sets `requiredParams` + `requestOptions` }}
  {{#optionalParams.0}}
  /**
    * {{{notes}}}{{#requiredParams}}
    * @param {{paramName}} {{{description}}} (required){{/requiredParams}}{{#vendorExtensions.x-is-generic}}
    * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
    * @param requestOptions The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
    * @return {{> return_type}}
   {{> api_javadoc}}
  public {{> return_type}} {{operationId}}({{#requiredParams}}{{{dataType}}} {{paramName}}, {{/requiredParams}}{{#vendorExtensions.x-is-generic}}Class<T> innerType, {{/vendorExtensions.x-is-generic}}RequestOptions requestOptions) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}({{#requiredParams}}{{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#requiredParams.0}},{{/requiredParams.0}}{{#optionalParams}}null{{^-last}},{{/-last}}{{/optionalParams}}, {{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}requestOptions);
  }
  {{/optionalParams.0}}

  {{! This case only sets `requiredParams` }}
  {{#optionalParams.0}}
  /**
    * {{{notes}}}{{#requiredParams}}
    * @param {{paramName}} {{{description}}} (required){{/requiredParams}}{{#vendorExtensions.x-is-generic}}
    * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
    * @return {{> return_type}}
   {{> api_javadoc}}
  public {{> return_type}} {{operationId}}({{#requiredParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#vendorExtensions.x-is-generic}}, Class<T> innerType{{/vendorExtensions.x-is-generic}}) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}({{#requiredParams}}{{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#requiredParams.0}},{{/requiredParams.0}}{{#optionalParams}}null{{^-last}},{{/-last}}{{/optionalParams}}, {{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}null);
  }
  {{/optionalParams.0}}

  /**
  * (asynchronously)
  * {{notes}}{{#allParams}}
  * @param {{paramName}} {{{description}}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}{{/allParams}}{{#vendorExtensions.x-is-generic}}
  * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
  * @param requestOptions The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
  * @return {{> return_type_async}} The awaitable future
  {{> api_javadoc}}
  public {{> return_type_async}} {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}, {{/allParams}}{{#vendorExtensions.x-is-generic}}Class<T> innerType, {{/vendorExtensions.x-is-generic}}RequestOptions requestOptions) throws AlgoliaRuntimeException {
    {{#allParams}}{{#required}}
    if ({{paramName}} == null) {
        throw new AlgoliaRuntimeException("Parameter `{{paramName}}` is required when calling `{{operationId}}`.");
    }
    {{/required}}{{/allParams}}

    Object bodyObj = {{#bodyParam}}{{paramName}}{{^required}} != null ? {{paramName}} : new Object(){{/required}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};

    // create path and map variables
    String requestPath = "{{{path}}}"{{#vendorExtensions}}{{#pathParams}}.replaceAll(
        {{=<% %>=}}"\\{<%baseName%>\\}"<%={{ }}=%>,
        {{#x-is-custom-request}}{{{paramName}}}.toString(){{/x-is-custom-request}}{{^x-is-custom-request}}this.escapeString({{{paramName}}}.toString()){{/x-is-custom-request}}
    ){{/pathParams}}{{/vendorExtensions}};

    {{javaUtilPrefix}}Map<String, Object> queryParameters = new {{javaUtilPrefix}}HashMap<String, Object>();
    {{javaUtilPrefix}}Map<String, String> headers = new {{javaUtilPrefix}}HashMap<String, String>();

    {{#vendorExtensions}}{{#queryParams}}
    if ({{paramName}} != null) {
      {{^x-is-custom-request}}
        queryParameters.put("{{baseName}}", parameterToString({{paramName}}));
      {{/x-is-custom-request}}
      {{#x-is-custom-request}}
        for (Map.Entry<String, Object> parameter : parameters.entrySet()) {
          queryParameters.put(parameter.getKey().toString(), parameterToString(parameter.getValue()));
        }
      {{/x-is-custom-request}}
    }

    {{/queryParams}}{{/vendorExtensions}}
    {{#headerParams}}
    if ({{paramName}} != null) {
        headers.put("{{baseName}}", this.parameterToString({{paramName}}));
    }

    {{/headerParams}}
    Call call = this.buildCall(requestPath, "{{httpMethod}}", queryParameters, bodyObj, headers, requestOptions, {{#vendorExtensions.x-use-read-transporter}}true{{/vendorExtensions.x-use-read-transporter}}{{^vendorExtensions.x-use-read-transporter}}false{{/vendorExtensions.x-use-read-transporter}});
    return this.executeAsync(call, {{#vendorExtensions.x-is-generic}}{{{returnType}}}.class, innerType{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}new TypeReference<{{{returnType}}}>() {}{{/vendorExtensions.x-is-generic}});
  }

  {{! This case only sets `requestOptions` as optional }}
  /**
  * (asynchronously)
  * {{notes}}{{#allParams}}
  * @param {{paramName}} {{{description}}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}{{/isContainer}}){{/required}}{{/allParams}}{{#vendorExtensions.x-is-generic}}
  * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
  * @return {{> return_type_async}} The awaitable future
  {{> api_javadoc}}
  public {{> return_type_async}} {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#vendorExtensions.x-is-generic}}, Class<T> innerType{{/vendorExtensions.x-is-generic}}) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}Async({{#allParams}}{{paramName}}, {{/allParams}}{{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}null);
  }

  {{! This case sets `requiredParams` + `requestOptions` }}
  {{#optionalParams.0}}
  /**
  * (asynchronously)
  * {{notes}}{{#requiredParams}}
  * @param {{paramName}} {{{description}}} (required){{/requiredParams}}{{#vendorExtensions.x-is-generic}}
  * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
  * @param requestOptions The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
  * @return {{> return_type_async}} The awaitable future
  {{> api_javadoc}}
  public {{> return_type_async}} {{operationId}}Async({{#requiredParams}}{{{dataType}}} {{paramName}}, {{/requiredParams}}{{#vendorExtensions.x-is-generic}}Class<T> innerType, {{/vendorExtensions.x-is-generic}}RequestOptions requestOptions) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}Async({{#requiredParams}}{{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#requiredParams.0}},{{/requiredParams.0}}{{#optionalParams}}null{{^-last}},{{/-last}}{{/optionalParams}}, {{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}requestOptions);
  }
  {{/optionalParams.0}}

  {{! This case only sets `requiredParams` }}
  {{#optionalParams.0}}
  /**
  * (asynchronously)
  * {{notes}}{{#requiredParams}}
  * @param {{paramName}} {{{description}}} (required){{/requiredParams}}{{#vendorExtensions.x-is-generic}}
  * @param innerType The class held by the index, could be your custom class or {@link Object}.{{/vendorExtensions.x-is-generic}}
  * @return {{> return_type_async}} The awaitable future
  {{> api_javadoc}}
  public {{> return_type_async}} {{operationId}}Async({{#requiredParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#vendorExtensions.x-is-generic}}, Class<T> innerType{{/vendorExtensions.x-is-generic}}) throws AlgoliaRuntimeException {
    {{#returnType}}return {{/returnType}}this.{{operationId}}Async({{#requiredParams}}{{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}{{#requiredParams.0}},{{/requiredParams.0}}{{#optionalParams}}null{{^-last}},{{/-last}}{{/optionalParams}}, {{#vendorExtensions.x-is-generic}}innerType, {{/vendorExtensions.x-is-generic}}null);
  }
  {{/optionalParams.0}}
  {{/operation}}

  {{> api_helpers}}
}
{{/operations}}
