{{#returnType}}{{#vendorExtensions.x-is-generic}}<T> {{{.}}}<T>{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}{{{.}}}{{/vendorExtensions.x-is-generic}} {{/returnType}}{{^returnType}}void {{/returnType}}
