{{#returnType}}{{#vendorExtensions.x-is-generic}}<T> CompletableFuture<{{{.}}}<T>>{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}CompletableFuture<{{{.}}}>{{/vendorExtensions.x-is-generic}} {{/returnType}}{{^returnType}}void {{/returnType}}
