{{#isCreateClient}}
  {{> client/createClient}}
{{/isCreateClient}}
{{#isVariable}}
  const result = {{> client/variable}}
{{/isVariable}}
{{#isMethod}}
  const result = await ({{> client/method}}) as unknown as EchoResponse;
{{/isMethod}}