{{#isCreateClient}}
  {{> client/createClient}}
{{/isCreateClient}}
{{#isVariable}}
  const result{{stepIndex}} = {{> client/variable}}
{{/isVariable}}
{{#isMethod}}
  const result{{stepIndex}} = await {{> client/method}}
{{/isMethod}}