{{#isCreateClient}}
  {{> client/createClient}}
{{/isCreateClient}}
{{#isVariable}}
  const result = {{> client/variable}}
{{/isVariable}}
{{#isMethod}}
  const result = await {{> client/method}}
{{/isMethod}}