if (searchMethodParams && Array.isArray(searchMethodParams)) {
  const newSignatureRequest: SearchMethodParams = {
    requests: searchMethodParams.map(({ params, ...legacyRequest }) => {
      if (legacyRequest.type === 'facet') {
        return {
          ...legacyRequest,
          ...params,
          type: 'facet',
        };
      }

      return {
        ...legacyRequest,
        ...params,
        facet: undefined,
        maxFacetHits: undefined,
        facetQuery: undefined,
      };
    }),
  };

  // eslint-disable-next-line no-param-reassign
  searchMethodParams = newSignatureRequest;
}
