import type { Region as AnalyticsRegion, AnalyticsClient } from '{{{npmNamespace}}}/client-analytics/src/analyticsClient';
import { createAnalyticsClient, REGIONS as analyticsRegions } from '{{{npmNamespace}}}/client-analytics/src/analyticsClient';

import type { Region as AbtestingRegion, AbtestingClient } from '{{{npmNamespace}}}/client-abtesting/src/abtestingClient';
import { createAbtestingClient, REGIONS as abtestingRegions } from '{{{npmNamespace}}}/client-abtesting/src/abtestingClient';

import type { Region as PersonalizationRegion, PersonalizationClient } from '{{{npmNamespace}}}/client-personalization/src/personalizationClient';
import { createPersonalizationClient, REGIONS as personalizationRegions } from '{{{npmNamespace}}}/client-personalization/src/personalizationClient';

import { createSearchClient, apiClientVersion as searchClientVersion } from '{{{npmNamespace}}}/client-search/src/searchClient';

import type { CreateClientOptions } from '{{{npmNamespace}}}/client-common';
import { CommonInitOptions, InitRegion, CommonClientOptions } from "./models"

export * from './models';

export const apiClientVersion = searchClientVersion;

export type Algoliasearch = ReturnType<typeof algoliasearch>;

