import {
  ErrorBase,
  PutProps,
  PostProps,
  DelProps,
  GetProps,
} from '{{{npmNamespace}}}/client-search/model';

export * from '{{{npmNamespace}}}/client-search/model';
export * from '{{{npmNamespace}}}/client-personalization/model';
export * from '{{{npmNamespace}}}/client-analytics/model';

export { ErrorBase, PutProps, PostProps, DelProps, GetProps };
