{{! possible data types of a parameter }}
{{#isEnum}}
  {{classname}}{{{nameInCamelCase}}}{{#isArray}}[]{{/isArray}}
{{/isEnum}}
{{^isEnum}}
  {{#x-propagated-generic}}
    {{> client/model/types/dataTypeGeneric}}
  {{/x-propagated-generic}}
  {{^x-propagated-generic}}
    {{#x-has-child-generic}}
      {{> client/model/types/dataTypeGeneric}}
    {{/x-has-child-generic}}
    {{^x-has-child-generic}}
      {{{dataType}}}
    {{/x-has-child-generic}}
  {{/x-propagated-generic}}
  {{#isNullable}}
    | null
  {{/isNullable}}
{{/isEnum}}
