{{! parameter that is generic and have a default value }}
{{#vendorExtensions.x-has-child-generic}}
  <T = Record<string, any>>
{{/vendorExtensions.x-has-child-generic}}
{{#vendorExtensions.x-is-generic}}
  <T = Record<string, any>>
{{/vendorExtensions.x-is-generic}}
