{{#parametersWithDataType}}{{> generateParams}}{{/parametersWithDataType}}
{{object}}{{#path}}.{{.}}{{/path}}({{#parametersWithDataType}}{{> maybeConvertOneOf}}{{^-last}},{{/-last}}{{/parametersWithDataType}});
EchoResponse result = echo.getLastResponse();