{{#isString}}
  "{{{value}}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isLong}}
  {{{value}}}
{{/isLong}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
{{#isArray}}
  [{{#value}}{{> requests/requestOptionsParams}}{{^-last}},{{/-last}}{{/value}}]
{{/isArray}}