{{#isString}}
  "{{{value}}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isLong}}
  {{{value}}}
{{/isLong}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
