if (!appId || typeof appId !== 'string') {
  throw new Error("`appId` is missing.");
}

if (!apiKey || typeof apiKey !== 'string') {
  throw new Error("`apiKey` is missing.");
}

{{#hasRegionalHost}}
{{^fallbackToAliasHost}}
if (!region) {
  throw new Error("`region` is missing.");
}
{{/fallbackToAliasHost}}
  
if (region && (typeof region !== 'string' || !REGIONS.includes(region))) {
  throw new Error(`\`region\` must be one of the following: ${REGIONS.join(', ')}`);
}
{{/hasRegionalHost}}
