name: Validate pull-request title

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  setup:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Pull Request title rules
        uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: '^(docs|chore)|((?:feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)\((?:clients|generators|javascript|php|java|go|cts|specs|scripts|ci|templates|deps)\)): .+'
