/**
{{#notes}}
 * {{&notes}}
{{/notes}}
{{#summary}}
 * @summary {{&summary}}
{{/summary}}
{{#vendorExtensions}}
  {{#x-create-wrapping-object}}
    * @param {{nickname}} - The {{nickname}} object.
    {{#allParams}}
      * @param {{nickname}}.{{paramName}} - {{^description}}The {{paramName}} object.{{/description}}{{#description}}{{{description}}}{{/description}}
    {{/allParams}}
  {{/x-create-wrapping-object}}
  {{#x-is-single-body-param}}
    {{#bodyParams}}
      * @param {{paramName}} - {{^description}}The {{paramName}} object.{{/description}}{{#description}}{{{description}}}{{/description}}
    {{/bodyParams}}
  {{/x-is-single-body-param}}
{{/vendorExtensions}}
 * @param requestOptions - The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
*/